@model System.Collections.Generic.List<AuctionOnline.Models.Category>

@foreach (var cate in Model)
{
    if (cate.Children.Any())
    {
        <li class="treeview">
            <a href="#">
                <i class=""></i> <span>@cate.Name</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @await Html.PartialAsync("~/Views/Shared/Components/Navbar/_CategoryPartial.cshtml", cate.Children)
            </ul>
        </li>
    }
    else
    {
        <li class="treeview">
            <a href="">
                <i class=""></i> <span>@cate.Name</span>
            </a>
        </li>


    }
}  