<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1576670221541">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1496911267002">
            <div class="wpb_wrapper">
                <div class="masonry_banners banners_column">
                    <div class="vc_col-md-6">
                        <div class="masonry_banner default-skin" style=" background-color: #9e6e3b!important;">
                            <a href="" class="relative">
                                <img src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/masonry-banner111-1024x466.jpg" alt="Bullets Wireless" />
                                <div class="masonry_holder">
                                    <h3 class="category_name">Bullets Wireless</h3>
                                    <p class="category_count">20 products</p>
                                    <span class="read-more">VIEW MORE</span>
                                </div>
                            </a>
                        </div>
                        <div class="masonry_banner dark-skin" style="background-color: #252525!important;">
                            <a href="" class="relative">
                                <img src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/masonry-banner33332-1-1024x653.jpg" alt="Drones" />
                                <div class="masonry_holder">
                                    <h3 class="category_name">Drones</h3>
                                    <p class="category_count">13 products</p>
                                    <span class="read-more">VIEW MORE</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="vc_col-md-6">
                        <div class="masonry_banner dark-skin">
                            <a href="" class="relative">
                                <img src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/masonry-banner222-1-1024x653.jpg" alt="Headphones" />
                                <div class="masonry_holder">
                                    <h3 class="category_name">Headphones</h3>
                                    <p class="category_count">30 products</p>
                                    <span class="read-more">VIEW MORE</span>
                                </div>
                            </a>
                        </div>
                        <div class="masonry_banner default-skin">
                            <a href="" class="relative">
                                <img src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/masonry-banner444-1-1024x466.jpg" alt="Charger Wireless" />
                                <div class="masonry_holder">
                                    <h3 class="category_name">Charger Wireless</h3>
                                    <p class="category_count">11 products</p>
                                    <span class="read-more">VIEW MORE</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>