<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://ibid.modeltheme.com/wp-content/uploads/2019/08/favicon-ibid.png">
    <script>document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
    <title>Countdown Auctions &#8211; iBid</title>
    <link rel='dns-prefetch' href='//modeltheme.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="iBid &raquo; Feed" href="https://ibid.modeltheme.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="iBid &raquo; Comments Feed" href="https://ibid.modeltheme.com/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/ibid.modeltheme.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.3" } };
        !function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dashicons-css' href='https://ibid.modeltheme.com/wp-includes/css/dashicons.min.css?ver=5.3.3' type='text/css' media='all' />
    <style id='dashicons-inline-css' type='text/css'>
        [data-font="Dashicons"]:before {
            font-family: 'Dashicons' !important;
            content: attr(data-icon) !important;
            speak: none !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            line-height: 1 !important;
            font-style: normal !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }
    </style>
    <link rel='stylesheet' id='js_composer_front-css' href='https://ibid.modeltheme.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='https://ibid.modeltheme.com/wp-includes/css/dist/block-library/style.min.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-style-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=2.5.14' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-selectBox-css' href='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/css/jquery.selectBox.css?ver=1.2.0' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-font-awesome-css' href='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/css/style.css?ver=3.0.9' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-sitemap-css-css' href='https://ibid.modeltheme.com/wp-content/plugins/simple-sitemap/lib/assets/css/simple-sitemap.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-animate-styles-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/css/animate.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-frontend-styles-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/css/lvca-frontend.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-icomoon-styles-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/css/icomoon.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://ibid.modeltheme.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.7' type='text/css' media='all' />
    <link rel='stylesheet' id='modelthemes-frontend-bar-css' href='//modeltheme.com/json/modelthemes-frontend-bar.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='https://ibid.modeltheme.com/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.2.2' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='woocommerce-layout-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=4.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=4.0.1' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=4.0.1' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='lvca-accordion-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/accordion/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-slick-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/css/slick.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-carousel-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/carousel/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-clients-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/clients/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-heading-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/heading/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-odometers-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/odometers/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-piecharts-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/piecharts/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-posts-carousel-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/posts-carousel/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-pricing-table-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/pricing-table/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-services-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/services/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-stats-bar-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/stats-bar/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-tabs-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/tabs/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-team-members-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/team/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-testimonials-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/testimonials/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-flexslider-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/css/flexslider.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-testimonials-slider-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/testimonials-slider/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lvca-portfolio-css' href='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/portfolio/css/style.css?ver=2.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-quick-view-css' href='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-quick-view/assets/css/yith-quick-view.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ywsl_frontend-css' href='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-social-login/assets/css/frontend.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='//ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/css/prettyPhoto.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-parent-style-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/style.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/font-awesome.min.css?ver=5.3.3' type='text/css' media='all' />
    <style id='font-awesome-inline-css' type='text/css'>
        [data-font="FontAwesome"]:before {
            font-family: 'FontAwesome' !important;
            content: attr(data-icon) !important;
            speak: none !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            line-height: 1 !important;
            font-style: normal !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }
    </style>
    <link rel='stylesheet' id='ibid-responsive-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/responsive.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-media-screens-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/media-screens.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/owl.carousel.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/owl.theme.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/animate.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-line-icons-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/simple-line-icons.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-styles-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/style.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-skin-default-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/skin-colors/skin-default.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-style-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid-child/style.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-gutenberg-frontend-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/gutenberg-frontend.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-dataTables.min-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/dataTables.min.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-datetimepicker-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/jquery.datetimepicker.min.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui-css' href='https://ibid.modeltheme.com/wp-content/plugins/dokan-lite/assets/vendors/jquery-ui/jquery-ui-1.10.0.custom.css?ver=3.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-fonts-fallback-css' href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C500%2C600%2C700%2C800%2C900%2Clatin&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='ibid-custom-style-css' href='https://ibid.modeltheme.com/wp-content/themes/ibid/css/custom-editor-style.css?ver=5.3.3' type='text/css' media='all' />
    <style id='ibid-custom-style-inline-css' type='text/css'>
        .back-to-top {
            background-color: #ea3546;
        }

        media only screen and (max-width: 767px) {
            body: h1, body h1 span

        {
            font-size: 26px !important;
            line-height: 30px !important;
        }

        body h2 {
            font-size: 24px !important;
            line-height: 28px !important;
        }

        body h3 {
            font-size: 22px !important;
            line-height: 26px !important;
        }

        body h4 {
            font-size: 20px !important;
            line-height: 24px !important;
        }

        body h5 {
            font-size: 18px !important;
            line-height: 22px !important;
        }

        body h6 {
            font-size: 16px !important;
            line-height: 20px !important;
        }

        }

        media only screen and (min-width: 768px) and (max-width: 1024px) {
            body: h1, body h1 span

        {
            font-size: 28px !important;
            line-height: 32px !important;
        }

        body h2 {
            font-size: 26px !important;
            line-height: 30px !important;
        }

        body h3 {
            font-size: 24px !important;
            line-height: 28px !important;
        }

        body h4 {
            font-size: 22px !important;
            line-height: 26px !important;
        }

        body h5 {
            font-size: 20px !important;
            line-height: 23px !important;
        }

        body h6 {
            font-size: 18px !important;
            line-height: 21px !important;
        }

        }

        .breadcrumb a::after {
            content: "/";
            content: "/";
        }

        .navbar-header .logo img {
            max-width: 85px;
        }

        ::selection {
            color: #ffffff;
            background: #2695ff;
        }

        ::-moz-selection { /* Code for Firefox */
            color: #ffffff;
            background: #2695ff;
        }

        a,
        a:visited {
            color: #2695ff;
        }

            a:focus,
            a:hover {
                color: #2695ff;
            }
            /*------------------------------------------------------------------
                    COLOR
                ------------------------------------------------------------------*/
            span.amount
            table.compare-list .remove td a .remove,
            .woocommerce form .form-row .required,
            .woocommerce .woocommerce-info::before,
            .woocommerce .woocommerce-message::before,
            .woocommerce div.product p.price,
            .woocommerce div.product span.price,
            .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
            .widget_popular_recent_tabs .nav-tabs li.active a,
            .widget_product_categories .cat-item:hover,
            .widget_product_categories .cat-item a:hover,
            .widget_archive li:hover,
            .widget_archive li a:hover,
            .widget_categories .cat-item:hover,
            .widget_categories li a:hover,
            .woocommerce .star-rating span::before,
            .pricing-table.recomended .button.solid-button,
            .pricing-table .table-content:hover .button.solid-button,
            .pricing-table.Recommended .button.solid-button,
            .pricing-table.recommended .button.solid-button,
            .pricing-table.recomended .button.solid-button,
            .pricing-table .table-content:hover .button.solid-button,
            .testimonial-author,
            .testimonials-container blockquote::before,
            .testimonials-container blockquote::after,
            h1 span,
            h2 span,
            label.error,
            .woocommerce input.button:hover,
            .author-name,
            .comment_body .author_name,
            .prev-next-post a:hover,
            .prev-text,
            .next-text,
            .social ul li a:hover i,
            .wpcf7-form span.wpcf7-not-valid-tip,
            .text-dark .statistics .stats-head *,
            .wpb_button.btn-filled,
            .widget_meta a:hover,
            .logo span,
            a.shop_cart::after,
            .woocommerce ul.products li.product .archive-product-title a:hover,
            .shop_cart:hover,
            .widget_pages a:hover,
            .categories_shortcode .category.active, .categories_shortcode .category:hover,
            .widget_recent_entries_with_thumbnail li:hover a,
            .widget_recent_entries li a:hover,
            .wpb_button.btn-filled:hover,
            li.seller-name::before,
            li.store-address::before,
            li.store-name::before,
            .full-width-part .post-name a:hover,
            .full-width-part .post-category-comment-date a:hover, .article-details .post-author a:hover,
            .grid-view.col-md-12.list-view .more-link:hover,
            .woocommerce button.button:hover,
            .woocommerce button.button.alt:hover,
            .woocommerce div.product form.buy-now.cart .button:hover span.amount,
            .woocommerce a.button:hover,
            .wc_vendors_active form input[type="submit"]:hover,
            .wcv-dashboard-navigation li a:hover,
            .woocommerce ul.cart_list li:hover a, .woocommerce ul.product_list_widget li:hover a,
            a.add-wsawl.sa-watchlist-action:hover, a.remove-wsawl.sa-watchlist-action:hover,
            .top-footer .menu-search .btn.btn-primary:hover i.fa,
            footer .footer-top .menu .menu-item a:hover,
            wpcf7-form .wpcf7-submit:hover,
            .woocommerce a.button.alt:hover,
            .form-submit input:hover,
            .post-name i,
            .modal-content p i,
            #yith-wcwl-form input[type="submit"]:hover,
            .form-row.form-group.user-role label.radio,
            .modeltheme-modal #loginform input[type="submit"]:hover,
            blockquote::before,
            .no-results input[type="submit"]:hover,
            .modal-content .woocommerce-LostPassword.lost_password a,
            .form-submit input:hover,
            div#cat-drop-stack a:hover,
            .sidebar-content .widget_nav_menu li a:hover,
            #signup-modal-content .woocommerce-form-register.register .button[type="submit"]:hover {
                color: #ea3546;
            }

            a#register-modal:hover {
                color: #ea3546 !important;
            }

        .dokan-btn-theme a:hover, .dokan-btn-theme:hover, input[type="submit"].dokan-btn-danger:hover, input[type="submit"].dokan-btn-theme:hover,
        .woocommerce-MyAccount-navigation-link > a:hover,
        body .ibid_shortcode_blog .post-name a:hover,
        .masonry_banner .read-more:hover,
        .category-button a:hover,
        .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info i,
        .wpcf7-form .wpcf7-submit:hover,
        .product_meta > span a:hover,
        .dokan-dashboard .dokan-dashboard-wrap .delete a,
        .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active a,
        .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a:hover,
        #dropdown-user-profile ul li a:hover,
        .widget_ibid_social_icons a,
        .simple-sitemap-container ul a:hover,
        .wishlist_table tr td.product-name a.button:hover,
        .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover, .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
        .bot_nav_cat_wrap li a:hover, .mega_menu .cf-mega-menu li a:hover, .mega_menu .cf-mega-menu.sub-menu p a:hover,
        .woocommerce a.remove {
            color: #ea3546 !important;
        }

            .tagcloud > a:hover,
            .ibid-icon-search,
            .wpb_button::after,
            .rotate45,
            .latest-posts .post-date-day,
            .latest-posts h3,
            .latest-tweets h3,
            .latest-videos h3,
            .button.solid-button,
            .top-footer,
            .form-submit input,
            .page-template-template-blog .full-width-part .more-link, .full-width-part .more-link,
            button.vc_btn,
            .pricing-table.recomended .table-content,
            .pricing-table .table-content:hover,
            .pricing-table.Recommended .table-content,
            .pricing-table.recommended .table-content,
            .pricing-table.recomended .table-content,
            .pricing-table .table-content:hover,
            .block-triangle,
            .owl-theme .owl-controls .owl-page span,
            body .vc_btn.vc_btn-blue,
            body a.vc_btn.vc_btn-blue,
            body button.vc_btn.vc_btn-blue,
            .woocommerce #respond input#submit,
            .woocommerce a.button,
            .woocommerce button.button,
            .woocommerce input.button,
            table.compare-list .add-to-cart td a,
            .woocommerce #respond input#submit.alt,
            .woocommerce a.button.alt,
            .woocommerce button.button.alt,
            .woocommerce input.button.alt,
            .woocommerce a.remove:hover,
            .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
            .woocommerce nav.woocommerce-pagination ul li a:focus,
            .woocommerce nav.woocommerce-pagination ul li a:hover,
            .woocommerce nav.woocommerce-pagination ul li span.current,
            .widget_social_icons li a:hover,
            #subscribe > button[type="submit"],
            .social-sharer > li:hover,
            .prev-next-post a:hover .rotate45,
            .masonry_banner.default-skin,
            .member-footer .social::before,
            .member-footer .social::after,
            .subscribe > button[type="submit"],
            .woocommerce #respond input#submit.alt.disabled,
            .woocommerce #respond input#submit.alt.disabled:hover,
            .woocommerce #respond input#submit.alt:disabled,
            .woocommerce #respond input#submit.alt:disabled:hover,
            .woocommerce #respond input#submit.alt[disabled]:disabled,
            .woocommerce #respond input#submit.alt[disabled]:disabled:hover,
            .woocommerce a.button.alt.disabled,
            .woocommerce a.button.alt.disabled:hover,
            .woocommerce a.button.alt:disabled,
            .woocommerce a.button.alt:disabled:hover,
            .woocommerce a.button.alt[disabled]:disabled,
            .woocommerce a.button.alt[disabled]:disabled:hover,
            .woocommerce button.button.alt.disabled,
            .woocommerce button.button.alt.disabled:hover,
            .woocommerce button.button.alt:disabled,
            .woocommerce button.button.alt:disabled:hover,
            .woocommerce button.button.alt[disabled]:disabled,
            .woocommerce button.button.alt[disabled]:disabled:hover,
            .woocommerce input.button.alt.disabled,
            .woocommerce input.button.alt.disabled:hover,
            .woocommerce input.button.alt:disabled,
            .woocommerce input.button.alt:disabled:hover,
            .woocommerce input.button.alt[disabled]:disabled,
            .woocommerce input.button.alt[disabled]:disabled:hover,
            .no-results input[type="submit"],
            table.compare-list .add-to-cart td a,
            .shop_cart,
            h3#reply-title::after,
            .newspaper-info,
            .categories_shortcode .owl-controls .owl-buttons i:hover,
            .widget-title:after,
            h2.heading-bottom:after,
            .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active,
            #primary .main-content ul li:not(.rotate45)::before,
            .wpcf7-form .wpcf7-submit,
            .menu-search .btn.btn-primary:hover,
            .um-register .um-button.um-alt, .btn-register, .modeltheme-modal #loginform input[type="submit"], form#login .register_button, form#login .submit_button,
            .bottom-components .component a:hover, .bottom-components .component a:hover, .bottom-components .component a:hover, .woocommerce-page .overlay-components .component a:hover, .woocommerce-page .vc_col-md-3 .overlay-components .component a:hover,
            .woocommerce.single-product .wishlist-container .yith-wcwl-wishlistaddedbrowse.show a,
            .widget_address_social_icons .social-links a,
            .hover-components .component:hover,
            .navbar-default .navbar-toggle .icon-bar,
            nav,
            #yith-wcwl-form input[type="submit"],
            .nav-previous a, .nav-next a,
            article.dokan-orders-area .dokan-panel-default > .dokan-panel-heading,
            #signup-modal-content .woocommerce-form-register.register .button[type="submit"],
            .dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title,
            .woocommerce-MyAccount-navigation-link > a,
            .newsletter-footer input.submit:hover, .newsletter-footer input.submit:focus,
            a.add-wsawl.sa-watchlist-action, a.remove-wsawl.sa-watchlist-action,
            footer .footer-top .menu .menu-item a::before,
            .post-password-form input[type="submit"],
            .wcv-dashboard-navigation li a,
            .wc_vendors_active form input[type="submit"],
            .categories_shortcode .category {
                background: #ea3546;
            }

        .yith-wcwl-add-to-wishlist.exists .yith-wcwl-wishlistaddedbrowse.hide a,
        .bottom-components .component a:hover, .bottom-components .component a:hover, .bottom-components .component a:hover, .woocommerce-page .overlay-components .component a:hover, .woocommerce-page .vc_col-md-3 .overlay-components .component a:hover,
        .columns-4 .overlay-components .component a:hover, .vc_col-md-4 .overlay-components .component a:hover, .no-sidebar .vc_col-md-3 .overlay-components .component a:hover,
        .woocommerce div.product .woocommerce-tabs ul.tabs li,
        .overlay-components .component.add-to-cart a, .bottom-components .component.add-to-cart a,
        .woocommerce_categories2 .products .component .yith-wcwl-wishlistexistsbrowse.show a,
        body .tp-bullets.preview1 .bullet,
        div#dokan-content .overlay-components .component a:hover,
        body #mega_main_menu li.default_dropdown .mega_dropdown > li > .item_link:hover,
        body #mega_main_menu li.widgets_dropdown .mega_dropdown > li > .item_link:hover,
        body #mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link:hover,
        body .dokan-settings-content .dokan-settings-area a.dokan-btn-info,
        .btn-sticky-left,
        .dokan-btn-info,
        body #mega_main_menu li.grid_dropdown .mega_dropdown > li > .item_link:hover,
        .custom_ibid button,
        .woocommerce_categories.grid th {
            background: #ea3546 !important;
        }

            .flip-clock-wrapper ul li a div div.inn,
            .featured_product_shortcode span.amount,
            .featured_product_shortcode .featured_product_button:hover,
            .custom_ibid button:hover,
            .ibid-countdown strong,
            .categories_shortcode .category.active span, .categories_shortcode .category:hover span,
            .woocommerce_categories.grid td.product-title a,
            .woocommerce_categories.grid td.add-cart a,
            .woocommerce_categories.list span.amount,
            .cd-tab-filter a:hover,
            .no-touch .cd-filter-block h4:hover,
            .cd-gallery .woocommerce-title-metas a:hover,
            .cd-tab-filter a.selected,
            .no-touch .cd-filter-trigger:hover,
            .woocommerce .woocommerce-widget-layered-nav-dropdown__submit:hover,
            .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a:hover {
                color: #ea3546 !important;
            }

        .dokan-btn-success.grant_access, input#dokan-add-tracking-number,
        .dokan-dashboard .dokan-dash-sidebar, .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu,
        input[type="submit"].dokan-btn-theme, a.dokan-btn-theme, .dokan-btn-theme,
        #cd-zoom-in, #cd-zoom-out,
        .woocommerce .woocommerce-widget-layered-nav-dropdown__submit {
            background-color: #ea3546 !important;
        }

        .dataTables_wrapper .pagination > .active > a, .dataTables_wrapper .pagination > .active > span,
        .dataTables_wrapper .pagination > .active > a:hover,
        .dataTables_wrapper .pagination > .active > span:hover,
        .dataTables_wrapper .pagination > .active > a:focus,
        .dataTables_wrapper .pagination > .active > span:focus {
            background-color: #ea3546 !important;
        }

        .pagination > li > a.current,
        .pagination > li > a:hover {
            background-color: #ffffff;
            border: 1px solid #ffffff;
        }

        .woocommerce ul.products li.product .onsale,
        .back-to-top,
        body .woocommerce ul.products li.product .onsale,
        body .woocommerce ul.products li.product .onsale,
        .pagination .page-numbers.current,
        .pagination .page-numbers.current:hover {
            background-color: #ea3546;
        }

        .comment-form input,
        .comment-form textarea,
        .author-bio,
        blockquote,
        .widget_popular_recent_tabs .nav-tabs > li.active,
        body .left-border,
        body .right-border,
        body .member-header,
        body .member-footer .social,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
        .woocommerce .woocommerce-info,
        .woocommerce .woocommerce-message,
        body .button[type="submit"],
        .navbar ul li ul.sub-menu,
        .wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
        .header_mini_cart,
        .header_mini_cart.visible_cart,
        #contact-us .form-control:focus,
        .header_mini_cart .woocommerce .widget_shopping_cart .total,
        .header_mini_cart .woocommerce.widget_shopping_cart .total,
        .sale_banner_holder:hover,
        .testimonial-img,
        .wpcf7-form input:focus,
        .wpcf7-form textarea:focus,
        .dokan-btn-success.grant_access, input#dokan-add-tracking-number,
        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle {
            border-color: #ea3546;
        }

        .sidebar-content .widget-title::before, .dokan-widget-area .widget-title::before,
        .dokan-settings-content .dokan-settings-area a.dokan-btn-info, .dokan-btn-info,
        input[type="submit"].dokan-btn-theme, a.dokan-btn-theme, .dokan-btn-theme {
            border-color: #ea3546 !important;
        }

        .services2 .block-triangle:hover i,
        .cd-filter::before,
        .cd-filter .cd-close {
            background-color: #ea3546;
        }

        #navbar .menu-item.black-friday-menu-link > a {
            background-color: #ea3546 !important;
        }

            #navbar .menu-item.black-friday-menu-link > a:hover {
                background: #ffffff !important;
            }

        .woocommerce #respond input#submit:hover,
        .woocommerce a.button:hover,
        .wc_vendors_active form input[type="submit"]:hover,
        .wcv-dashboard-navigation li a:hover,
        .woocommerce button.button:hover,
        .woocommerce input.button:hover,
        table.compare-list .add-to-cart td a:hover,
        .woocommerce #respond input#submit.alt:hover,
        .woocommerce a.button.alt:hover,
        .woocommerce button.button.alt:hover,
        .woocommerce input.button.alt:hover,
        .ibid-search.ibid-search-open .ibid-icon-search,
        .no-js .ibid-search .ibid-icon-search,
        .ibid-icon-search:hover,
        .latest-posts .post-date-month,
        .button.solid-button:hover,
        body .vc_btn.vc_btn-blue:hover,
        body a.vc_btn.vc_btn-blue:hover,
        body button.vc_btn.vc_btn-blue:hover,
        .subscribe > button[type="submit"]:hover,
        .no-results input[type="submit"]:hover,
        table.compare-list .add-to-cart td a:hover,
        .shop_cart:hover,
        .wpcf7-form .wpcf7-submit:hover,
        .widget_address_social_icons .social-links a:hover,
        .post-password-form input[type="submit"]:hover,
        .page-template-template-blog .full-width-part .more-link:hover,
        .form-submit input:hover,
        .full-width-part .more-link:hover,
        .modeltheme-modal #loginform input[type="submit"]:hover,
        .modeltheme-modal p.btn-register-p a:hover,
        #yith-wcwl-form input[type="submit"]:hover,
        #signup-modal-content .woocommerce-form-register.register .button[type="submit"]:hover,
        .woocommerce_categories2 .bottom-components .component a:hover, .woocommerce_categories2 .bottom-components .component a:hover,
        woocommerce_categories2 .bottom-components .component a:hover {
            background: #ffffff; /*Color: Main Dark */
        }

        .woocommerce_categories.grid td.add-cart a:hover,
        .woocommerce_categories.grid td.product-title a:hover {
            color: #ffffff !important;
        }

        .no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover,
        .woocommerce .woocommerce-widget-layered-nav-dropdown__submit:hover {
            background-color: #ffffff !important; /*Color: Main Dark */
        }
    </style>
    <link rel='stylesheet' id='simple-auction-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce-simple-auctions/css/frontend.css?ver=5.3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dokan-style-css' href='https://ibid.modeltheme.com/wp-content/plugins/dokan-lite/assets/css/style.css?ver=1585140331' type='text/css' media='all' />
    <link rel='stylesheet' id='dokan-fontawesome-css' href='https://ibid.modeltheme.com/wp-content/plugins/dokan-lite/assets/vendors/font-awesome/font-awesome.min.css?ver=3.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='redux-google-fonts-redux_demo-css' href='https://fonts.googleapis.com/css?family=Montserrat%3A300&#038;ver=1585230912' type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var dokan = { "ajaxurl": "https:\/\/ibid.modeltheme.com\/wp-admin\/admin-ajax.php", "nonce": "7d9670ef9c", "ajax_loader": "https:\/\/ibid.modeltheme.com\/wp-content\/plugins\/dokan-lite\/assets\/images\/ajax-loader.gif", "seller": { "available": "Available", "notAvailable": "Not Available" }, "delete_confirm": "Are you sure?", "wrong_message": "Something went wrong. Please try again.", "vendor_percentage": "90", "commission_type": "percentage", "rounding_precision": "6", "mon_decimal_point": ".", "product_types": ["simple"], "rest": { "root": "https:\/\/ibid.modeltheme.com\/wp-json\/", "nonce": "31b3aa45d9", "version": "dokan\/v1" }, "api": null, "libs": [], "routeComponents": { "default": null }, "routes": [], "urls": { "assetsUrl": "https:\/\/ibid.modeltheme.com\/wp-content\/plugins\/dokan-lite\/assets" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.2.2'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/ibid.modeltheme.com\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=4.0.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/accordion/js/accordion.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/slick.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/jquery.stats.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/odometers/js/odometer.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/piecharts/js/piechart.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/posts-carousel/js/posts-carousel.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/spacer/js/spacer.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/services/js/services.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/stats-bar/js/stats-bar.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/tabs/js/tabs.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/jquery.flexslider.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/testimonials-slider/js/testimonials.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/isotope.pkgd.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/imagesloaded.pkgd.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/includes/addons/portfolio/js/portfolio.min.js?ver=2.5.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=6.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce-simple-auctions/js/jquery.countdown.min.js?ver=1.2.33'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var countdown_language_data = { "labels": { "Years": "Years", "Months": "Months", "Weeks": "Weeks", "Days": "Days", "Hours": "Hours", "Minutes": "Minutes", "Seconds": "Seconds" }, "labels1": { "Year": "Year", "Month": "Month", "Week": "Week", "Day": "Day", "Hour": "Hour", "Minute": "Minute", "Second": "Second" }, "compactLabels": { "y": "y", "m": "m", "w": "w", "d": "d" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce-simple-auctions/js/jquery.countdown.language.js?ver=1.2.33'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var data = { "finished": "Auction has finished!", "checking": "Patience please, we are checking if auction is finished!", "gtm_offset": "0", "started": "Auction has started! Please refresh your page.", "no_need": "No need to bid. Your bid is winning! ", "compact_counter": "no", "outbid_message": "", "interval": "1" };
        var SA_Ajax = { "ajaxurl": "\/countdown-auctions\/?fbclid=IwAR0fKBtjH6GNkdvJXoRl987cJupshudzIPFzTg8R7zfh37nFB-x3mi91BmU&wsa-ajax", "najax": "1", "last_activity": "1590850804", "focus": "yes" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce-simple-auctions/js/simple-auction-frontend.js?ver=1.2.33'></script>
    <link rel='https://api.w.org/' href='https://ibid.modeltheme.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://ibid.modeltheme.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://ibid.modeltheme.com/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.3.3" />
    <meta name="generator" content="WooCommerce 4.0.1" />
    <link rel="canonical" href="https://ibid.modeltheme.com/countdown-auctions/" />
    <link rel='shortlink' href='https://ibid.modeltheme.com/?p=5905' />
    <link rel="alternate" type="application/json+oembed" href="https://ibid.modeltheme.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fibid.modeltheme.com%2Fcountdown-auctions%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://ibid.modeltheme.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fibid.modeltheme.com%2Fcountdown-auctions%2F&#038;format=xml" />
    <script type="text/javascript">
        (function () {
            window.lvca_fs = { can_use_premium_code: false };
        })();
    </script>
    <!--[if IE 9]> <script>var _gambitParallaxIE9 = true;</script> <![endif]-->
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <meta name="generator" content="Powered by Slider Revolution 6.2.2 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var pw = document.getElementById(e.c).parentNode.offsetWidth,
                    newh;
                pw = pw === 0 || isNaN(pw) ? window.innerWidth : pw;
                e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
                e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
                e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
                e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
                e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
                e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
                e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
                if (e.layout === "fullscreen" || e.l === "fullscreen")
                    newh = Math.max(e.mh, window.innerHeight);
                else {
                    e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                    for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
                    e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
                    e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                    for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];
                    var nl = new Array(e.rl.length),
                        ix = 0,
                        sl;
                    e.tabw = e.tabhide >= pw ? 0 : e.tabw;
                    e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
                    e.tabh = e.tabhide >= pw ? 0 : e.tabh;
                    e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
                    for (var i in e.rl) nl[i] = e.rl[i] < window.innerWidth ? 0 : e.rl[i];
                    sl = nl[0];
                    for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
                    var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
                    newh = (e.type === "carousel" && e.justify === "true" ? e.gh[ix] : (e.gh[ix] * m)) + (e.tabh + e.thumbh);
                }
                if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
                document.getElementById(e.c).height = newh;
                window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
            } catch (e) {
                console.log("Failure at Presize of Slider:" + e)
            }
        };</script>
    <style type="text/css" id="wp-custom-css">
        .infinite-scroll .woocommerce-pagination {
            display: initial;
        }

        .woocommerce_expired2 .category-wrapper {
            padding: 37% 15px;
        }
    </style>
    <style type="text/css" title="dynamic-css" class="options-output">
        .fixed-sidebar-menu {
            background-color: #487485;
        }

        #navbar .menu-item > a,
        .navbar-nav .search_products a,
        .navbar-default .navbar-nav > li > a {
            color: #ffffff;
        }

            #navbar .menu-item > a:hover,
            #navbar .menu-item > a:focus,
            .navbar-nav .search_products a:hover,
            .navbar-nav .search_products a:focus,
            .navbar-default .navbar-nav > li > a:hover,
            .navbar-default .navbar-nav > li > a:focus {
                color: #ffffff;
            }

        #navbar .sub-menu, .navbar ul li ul.sub-menu {
            background-color: #FFFFFF;
        }

        #navbar ul.sub-menu li a {
            color: #484848;
        }

            #navbar ul.sub-menu li a:hover {
                background-color: #FFFFFF;
            }

            #navbar ul.sub-menu li a:hover {
                color: #2695ff;
            }

        body {
            font-family: Montserrat;
        }

        h1, h1 span {
            font-family: Montserrat;
            line-height: 36px;
            color: #242424;
            font-size: 36px;
        }

        h2 {
            font-family: Montserrat;
            line-height: 30px;
            color: #242424;
            font-size: 30px;
        }

        h3, .post-name {
            font-family: Montserrat;
            line-height: 24px;
            color: #242424;
            font-size: 24px;
        }

        h4 {
            font-family: Montserrat;
            line-height: 18px;
            color: #242424;
            font-size: 18px;
        }

        h5 {
            font-family: Montserrat;
            line-height: 14px;
            color: #242424;
            font-size: 14px;
        }

        h6 {
            font-family: Montserrat;
            line-height: 12px;
            color: #242424;
            font-size: 12px;
        }

        input, textarea {
            font-family: Montserrat;
        }

            input[type="submit"] {
                font-family: Montserrat;
            }

        .top-header {
            background-color: #ffffff;
        }

        .navbar-default {
            background-color: #ffffff;
        }

        .container.footer-top, .prefooter .container {
            padding-top: 90px;
            padding-bottom: 80px;
        }

        footer {
            background-color: #ffffff;
        }

            footer .footer {
                background-color: #f8f8f8;
            }

        p {
            font-family: Montserrat;
            line-height: 24px;
            font-weight: 300;
            color: #606060;
            font-size: 16px;
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1576582847629 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            padding-top: 90px !important;
            padding-bottom: 100px !important;
            background-image: url(https://ibid.modeltheme.com/wp-content/uploads/2019/12/bg_slider_countdowns.jpg?id=5959) !important;
        }

        .vc_custom_1576750976876 {
            margin-top: 75px !important;
            margin-bottom: 52px !important;
        }

        .vc_custom_1576750999310 {
            margin-bottom: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 30px !important;
        }

        .vc_custom_1576751450903 {
            margin-bottom: 0px !important;
            padding-top: 38px !important;
            padding-bottom: 73px !important;
        }

        .vc_custom_1576751483698 {
            margin-bottom: 70px !important;
            padding-top: 54px !important;
            padding-bottom: 90px !important;
            background-image: url(https://ibid.modeltheme.com/wp-content/uploads/2019/12/stats-skills-bg.jpg?id=5934) !important;
        }

        .vc_custom_1576751502668 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            padding-bottom: 50px !important;
        }

        .vc_custom_1576670221541 {
            margin-bottom: 0px !important;
            padding-top: 30px !important;
            padding-bottom: 85px !important;
        }

        .vc_custom_1576751549131 {
            margin-bottom: 0px !important;
            padding-top: 15px !important;
            padding-bottom: 45px !important;
            background-color: #f9f9f9 !important;
        }

        .vc_custom_1576670288870 {
            margin-bottom: 0px !important;
            background-color: #f8f8f8 !important;
        }

        .vc_custom_1577090686821 {
            margin-bottom: 0px !important;
            padding-top: 45px !important;
            padding-bottom: 40px !important;
            background-color: #f8f8f8 !important;
        }

        .vc_custom_1576574573827 {
            padding-top: 0px !important;
        }

        .vc_custom_1576670727781 {
            margin-right: 0px !important;
            margin-left: 0px !important;
            padding-top: 53px !important;
            padding-bottom: 55px !important;
            background-color: #ffffff !important;
        }

        .vc_custom_1566992943471 {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .vc_custom_1566992948720 {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .vc_custom_1566992955232 {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .vc_custom_1566992960725 {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .vc_custom_1537949981399 {
            padding-top: 10px !important;
        }

        .vc_custom_1496911267002 {
            padding-top: 0px !important;
        }

        .vc_custom_1576670881974 {
            padding-top: 35px !important;
            padding-bottom: 95px !important;
            background-color: #ffffff !important;
        }

        .vc_custom_1568015599766 {
            margin-right: -5px !important;
            margin-bottom: 28px !important;
            margin-left: -5px !important;
        }
    </style>
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>
<body data-rsssl=1 class="page-template-default page page-id-5905 theme-ibid woocommerce-no-js     first_header   wpb-js-composer js-comp-ver-6.1 vc_responsive dokan-theme-ibid">
    <!--Login modal-->
    @await Component.InvokeAsync("Login")
    <!--End Login modal-->
    <div class="modeltheme-overlay"></div>

    <div id="page" class="hfeed site">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <!-- LEFT SIDE LINKS -->
                    <div class="col-md-7 col-sm-12 contact-header">
                        <ul class="currency-language list-inline-block menu-list">
                            <li>
                                <div class="language-box dropdown-box">
                                    <a class="language-current" href="#">EN</a>
                                    <ul class="language-list list-none dropdown-list">
                                        <li><a href="#">EN</a></li>
                                        <li><a href="#">FR</a></li>
                                        <li><a href="#">VN</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="currency-box dropdown-box">
                                    <a class="currency-current" href="#">USD</a>
                                    <ul class="currency-list list-none dropdown-list">
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">VND</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- Call Us -->
                        <span>
                            Call us :
                            <a href="#">+84-999-999-999</a>
                        </span>
                        <!-- Mail Us -->
                        <span>
                            Send us an email:<a href="#">
                                <span class="__cf_email__" data-cfemail="197a76776d787a6d597c61787469757c377a7674">npmt@gmail.com</span>
                            </a>
                        </span>
                    </div>
                    <!-- RIGHT SIDE LINKS -->
                    <div class="col-md-5 col-sm-12 account-urls">
                        <a class="top-order" herf="">
                            <i class="fa fa-truck"></i>
                            Order Tracking
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" id="ibid-main-head">
            <div class="container">
                <div class="row">
                    <div class="navbar-header col-md-3 col-sm-12">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="logo logo-image">
                            <a href="">
                                <img src="" alt="" />
                            </a>
                        </h1>
                    </div>
                    <div class="first-part col-md-9 col-sm-12">
                        <div class="col-md-8 search-form-product">
                            <div class="ibid-header-searchform">
                                <form name="header-search-form" method="GET" class="woocommerce-product-search menu-search" action="">
                                    @await Component.InvokeAsync("CategorySearch")
                                    <input type="hidden" value="product" name="post_type">
                                    <input type="text" name="s" class="search-field" id="keyword" onkeyup="fetch()" maxlength="128" value="" placeholder="Search products...">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <input type="hidden" name="post_type" value="product" />
                                </form>
                                <div id="datafetch"></div>
                            </div>
                        </div>
                        <div class="col-md-4 menu-products">
                            <a class="shop_cart" asp-controller="account" asp-action="cart">
                                My Cart
                            </a>
                            <a class="cart-contents" asp-controller="account" asp-action="cart" title="View your shopping cart">
                                0 items ,
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>0.00
                                </span>
                            </a>
                            <!-- Shop Minicart -->
                            <div class="header_mini_cart">
                                <div class="widget woocommerce widget_shopping_cart">
                                    <h2 class="widgettitle">Cart</h2>
                                    <div class="widget_shopping_cart_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOTTOM BAR -->
            @await Component.InvokeAsync("Navbar")
            <!-- END BOTTOM BAR -->
        </div>

        <!-- Revolution slider -->
        <!-- Page content -->
        @RenderBody()

        <!-- BACK TO TOP BUTTON -->
        <a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
            <span></span>
        </a>

        <!-- MAIN FOOTER -->
        <footer class="has-footer-widgets">
            <div class="top-footer row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 left">Browse through our products library!</div>
                        <div class="col-md-4">
                            <form name="myform" method="GET" class="woocommerce-product-search menu-search" action="">
                                <input type="hidden" value="product" name="post_type">
                                <input type="text" name="s" class="search-field" maxlength="128" value="" placeholder="Search products...">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" name="post_type" value="product" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container footer-top">
                <div class="row 4">

                    <div class="col-md-3 widget widget_text">
                        <aside id="text-3" class="widget vc_column_vc_container widget_text">
                            <div class="textwidget">
                                <h1 class="logo">
                                    <a href="/">
                                        <img style="max-width: 105px;" src="" alt="Footer Logo" />
                                    </a>
                                </h1>
                                <p>
                                    <span style="color: #606060;">
                                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fe9d91908a9f9d8abe9b869f938e929bd09d9193">[email&#160;protected]</a>
                                    </span><br />
                                    <span style="color: #606060;">+84-999-999-999</span>
                                </p>
                            </div>
                        </aside><aside id="ibid_social_icons-2" class="widget vc_column_vc_container widget_ibid_social_icons">
                            <div class="sidebar-social-networks">
                                <ul>
                                    <li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/google"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><div class="col-md-3 widget widget_text">
                        <aside id="nav_menu-5" class="widget vc_column_vc_container widget_nav_menu">
                            <h1 class="widget-title">Useful Links</h1><div class="menu-links-container">
                                <ul id="menu-links" class="menu">
                                    <li id="menu-item-4560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4560"><a href="#">Mobile Phone</a></li>
                                    <li id="menu-item-4561" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4561"><a href="#">Laptop</a></li>
                                    <li id="menu-item-4562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4562"><a href="#">Headphones</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-md-3 widget widget_text">
                        <aside id="nav_menu-6" class="widget vc_column_vc_container widget_nav_menu">
                            <h1 class="widget-title">Our Policy</h1><div class="menu-menu-container">
                                <ul id="menu-menu" class="menu">
                                    <li id="menu-item-4567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-4567"><a href="">Homepage</a></li>
                                    <li id="menu-item-4569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4569"><a href="">Blog</a></li>
                                    <li id="menu-item-4570" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4570"><a href="#">Services</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-md-3 widget widget_text">
                        <aside id="mc4wp_form_widget-2" class="widget vc_column_vc_container widget_mc4wp_form_widget">
                            <h1 class="widget-title">Subscribe to our Newsletter</h1>
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>
                                (function () {
                                    window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function (evt, cb) {
                                                window.mc4wp.listeners.push(
                                                    {
                                                        event: evt,
                                                        callback: cb
                                                    }
                                                );
                                            }
                                        }
                                    }
                                })();
                            </script>
                            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-4260" method="post" data-id="4260" data-name="Newsletter">
                                <div class="mc4wp-form-fields">
                                    <div class="newsletter-footer">
                                        <input class="email" type="email" name="EMAIL" placeholder="Enter your email" required />
                                        <input class="submit" type="submit" value="Submit" />
                                    </div>
                                </div>
                                <label style="display: none !important;">
                                    Leave this field empty if you're human:
                                    <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
                                </label>
                                <input type="hidden" name="_mc4wp_timestamp" value="1590897231" />
                                <input type="hidden" name="_mc4wp_form_id" value="4260" />
                                <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                <div class="mc4wp-response"></div>
                            </form><!-- / Mailchimp for WordPress Plugin -->
                        </aside>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="copyright">Copyright by ModelTheme. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 payment-methods">
                            <p class="copyright">Elite Author on ThemeForest.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <style type="text/css">
        iframe#launcher.zEWidget-launcher {
            right: 70px !important;
            margin-bottom: 25px !important;
        }
    </style>
    <script>
        (function () {
            function maybePrefixUrlField() {
                if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }
            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields) {
                for (var j = 0; j < urlFields.length; j++) {
                    urlFields[j].addEventListener('blur', maybePrefixUrlField);
                }
            }
        })();</script>
    <!--await  Component.InvokeAsync("ExtraBottom")-->
    <script type="text/javascript">
        function fetch() {
            jQuery.ajax({
                url: 'https://ibid.modeltheme.com/wp-admin/admin-ajax.php',
                type: 'post',
                data: { action: 'ibid_search_form_data_fetch', keyword: jQuery('#keyword').val() },
                success: function (data) {
                    jQuery('#datafetch').html(data);
                }
            });
        }
    </script>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
        <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
        <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p>Sorry, this product is unavailable. Please choose a different combination.</p>
    </script>
    <link rel='stylesheet' id='vc_animate-css-css' href='https://ibid.modeltheme.com/wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min.css?ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_google_fonts_montserratregular700-css' href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.min.css?ver=4.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css' href='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.min.css?ver=4.0.1' type='text/css' media='all' />
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_wcwl_l10n = { "ajax_url": "\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "enable_ajax_loading": "", "ajax_loader_url": "https:\/\/ibid.modeltheme.com\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader-alt.svg", "remove_from_wishlist_after_add_to_cart": "1", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies on your browser are enabled.", "added_to_cart_message": "<div class=\"woocommerce-notices-wrapper\"><div class=\"woocommerce-message\" role=\"alert\">Product added to cart successfully<\/div><\/div>" }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist", "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem", "load_mobile_action": "load_mobile", "delete_item_action": "delete_item", "save_title_action": "save_title", "save_privacy_action": "save_privacy", "load_fragments": "load_fragments" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js?ver=3.0.9'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/jquery.waypoints.min.js?ver=2.5.6'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var lvca_settings = { "mobile_width": "780", "custom_css": "" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/addons-for-visual-composer/assets/js/lvca-frontend.min.js?ver=2.5.6'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/ibid.modeltheme.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.7'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modeltheme-framework/js/mt-plugins.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modeltheme-framework/js/filters-main.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modeltheme-framework/js/filters-mixitup.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modeltheme-framework/js/mt-coundown-version2/flipclock.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modelthemes/js/modernizr.custom.js?ver=2.7.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modelthemes/js/classie.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/modelthemes/js/modelthemes-frontend-bar.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.0.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_b9440d2621774752baa06f8d795cf92b", "fragment_name": "wc_fragments_b9440d2621774752baa06f8d795cf92b", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.0.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_qv = { "ajaxurl": "\/wp-admin\/admin-ajax.php", "loader": "https:\/\/ibid.modeltheme.com\/wp-content\/plugins\/yith-woocommerce-quick-view\/assets\/image\/qv-loader.gif", "is2_2": "", "lang": "" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-quick-view/assets/js/frontend.min.js?ver=1.3.16'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/yith-woocommerce-social-login/assets/js/frontend.min.js?ver=1.4.0'></script>
    <script type='text/javascript' src='//ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/modernizr.custom.js?ver=2.6.2'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/dataTables.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/jquery/jquery.form.min.js?ver=4.2.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/jquery.ketchup.all.min.js?ver=0.3.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/jquery.validate.min.js?ver=1.13.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/jquery.sticky.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/uisearch.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/jquery.flatshadow.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/jquery.parallax.js?ver=1.1.3'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/count/jquery.appear.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/count/jquery.countTo.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/owl.carousel.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/modernizr.viewport.js?ver=2.6.2'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/bootstrap.min.js?ver=3.3.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/animate.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/jquery.datetimepicker.full.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/custom.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/themes/ibid/js/skip-link-focus-fix.js?ver=20130115'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        jQuery(document).ready(function (jQuery) { jQuery.datepicker.setDefaults({ "closeText": "Close", "currentText": "Today", "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "nextText": "Next", "prevText": "Previous", "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "dateFormat": "MM d, yy", "firstDay": 1, "isRTL": false }); });
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/dokan-lite/assets/vendors/magnific/jquery.magnific-popup.min.js?ver=3.0.2'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/dokan-lite/assets/js/login-form-popup.js?ver=1585140331'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/wp-embed.min.js?ver=5.3.3'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/js_composer/assets/lib/vc_waypoints/vc-waypoints.min.js?ver=6.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/mailchimp-for-wp/assets/js/forms.min.js?ver=4.7.5'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/underscore.min.js?ver=1.8.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };
                                                            /* ]]> */
    </script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-includes/js/wp-util.min.js?ver=5.3.3'></script>

    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=4.0.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min.js?ver=1.7.21'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js?ver=4.1.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js?ver=4.1.1'></script>
    <script type='text/javascript' src='https://ibid.modeltheme.com/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=4.0.1'></script>
</body>
</html>

@*https://ibid.modeltheme.com/*@