<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>NY City trip  - easyauctiondemo.com</title>
    <meta name="title" content="NY City trip  - easyauctiondemo.com" />
    <meta name="description" content="Vacation , Trip to New York city. 7 nights breakfast included etc.Demo auction for demonstration purposes only." />
    <meta name="keywords" content="Vacation" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Fri, Jan 01 1970 00:00:00 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/pss_auction_style.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/custom/styleOrange.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/customize.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/fileupload.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/tabs.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/menu.css" rel="stylesheet" type="text/css" />
    <script src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/ckeditor/ckeditor.js"></script>
    <script src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/modernizr.js"></script>
    <link href="https://www.easyauctiondemo.com/ea-content/plugins/custom_attributes/css/front_styles.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-includes/easyauction/gui/css/jquery-ui/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-includes/easyauction/assets/js/fineuploader/fineuploader.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/themes/easyauction/css/ajax-uploader.css" rel="stylesheet" type="text/css" />
    <link href="https://www.easyauctiondemo.com/ea-content/plugins/socialconnect/assets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-includes/easyauction/assets/js/date.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-includes/easyauction/assets/js/fineuploader/jquery.fineuploader.min.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-includes/easyauction/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-includes/easyauction/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/global.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/custom.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/jquery.plugin.js"></script>
    <script src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/jquery.countdown.js"></script>
    <script src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Ads: 866865248 -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-866865248"></script>
</head>
<body class="item">
    <div class="container" id="page-wrapper">
        <!--HEADER-->
        <div class="row">
            <div class="container" style="display: table;width: 100%; min-height: 125px;">
                <div class="row hidden-xs">
                    <div class="col-sm-3">
                        <a class="logo-site" href="https://www.easyauctiondemo.com/"><img border="0" alt="easyauctiondemo.com" src="https://www.easyauctiondemo.com/ea-content/uploads//easyauction_logo.png" /></a>
                    </div>
                    <div class="col-sm-9 headtext1 hidden-xs" style="text-align: center;    padding: 15px;">
                        Demo Auctions
                    </div>
                </div>
                <div class="righthead hidden-xs">
                    <div class="navbar2" role="navigation">
                        <div class="navbar-right">
                            <div>
                                <p class="pull-right">
                                    <a href="https://www.easyauctiondemo.com/user/login" id="logoff_">
                                        Login
                                    </a> |
                                    <a href="https://www.easyauctiondemo.com/user/register" id="regcolor">
                                        Free Register
                                    </a> |
                                    <a href="#" id="open-search-box">
                                        Search
                                    </a> | <a href="https://www.easyauctiondemo.com/contact">
                                        Contact
                                    </a>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-right hidden-xs">
                                <div class="social"> <a href="http://www.facebook.com/sharer/sharer.php?u=https://www.easyauctiondemo.com/" title=""><img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/facebook.png" alt="" /> Facebook</a> <a href="https://www.twitter.com/share?url=https://www.easyauctiondemo.com/" title=""><img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/twitter.png" alt="" /> Twitter</a> </div>
                                <div class="clearfix"></div>
                                <p class="pull-right headcust">
                                    1111-000-444
                                </p>
                            </div>
                        </div>
                        <div class="visible-xs clearfix"></div>
                    </div>
                </div>
                <div class="mobilehead visible-xs">
                    <a href="https://www.easyauctiondemo.com/" class="logo-responsive"></a>
                    <a class="logo-site" href="https://www.easyauctiondemo.com/">
                        <img border="0" alt="easyauctiondemo.com" src="https://www.easyauctiondemo.com/ea-content/uploads//easyauction_logo.png" />
                    </a>
                    <p>
                        <a href="https://www.easyauctiondemo.com/user/login" id="logoff_">
                            Login
                        </a> |
                        <a href="https://www.easyauctiondemo.com/user/register" id="regcolor">
                            Free Register
                        </a> |
                        <a href="https://www.easyauctiondemo.com/contact">
                            Contact
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!--END HEADER-->
        <div class="row">
            <div class="container-fluid hidden-xs">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header" style="width: 100px;text-align: center;">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a href="https://www.easyauctiondemo.com/" class="dot-nextto-home">.<img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/home.png" style="margin-top: 15px" />.</a>
                    </div>
                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown mega-dropdown">
                                <a href="https://www.easyauctiondemo.com/vacation" class="dropdown-toggle">Vacation <span class="caret"></span></a>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a href="https://www.easyauctiondemo.com/leisure" class="dropdown-toggle">Leisure <span class="caret"></span></a>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a href="https://www.easyauctiondemo.com/gadgets" class="dropdown-toggle">Gadgets <span class="caret"></span></a>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a href="https://www.easyauctiondemo.com/clothes" class="dropdown-toggle">Clothes <span class="caret"></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </nav>
            </div>
            <div class="container-fluid visible-xs">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#catmenu1">
                            <span class="sr-only">
                                Toggle navigation
                            </span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            Categories                                :
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="catmenu1">
                        <ul class="cd-accordion-menu animated">
                            <li class="">
                                <input type="checkbox" name="group-1" id="group-1" />
                                <label for="group-1"><a class="category cat_96" href="https://www.easyauctiondemo.com/vacation">Vacation</a></label>
                            </li>
                            <li class="">
                                <input type="checkbox" name="group-2" id="group-2" />
                                <label for="group-2"><a class="category cat_101" href="https://www.easyauctiondemo.com/leisure">Leisure</a></label>
                            </li>
                            <li class="">
                                <input type="checkbox" name="group-3" id="group-3" />
                                <label for="group-3"><a class="category cat_102" href="https://www.easyauctiondemo.com/gadgets">Gadgets</a></label>
                            </li>
                            <li class="">
                                <input type="checkbox" name="group-4" id="group-4" />
                                <label for="group-4"><a class="category cat_105" href="https://www.easyauctiondemo.com/clothes">Clothes</a></label>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="row hidden-xs steps">
            <div class="container">
                <div class="col-sm-3">
                    <div class="media">
                        <span class="media-left"> <img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/hoewerkt1.png" /> </span>
                        <div class="media-body text-center hd-content">
                            <strong>
                                Create a <a href="/user/login">free account</a> and log in!
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <span class="media-left"> <img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/hoewerkt2.png" /> </span>
                        <div class="media-body text-center hd-content">
                            <strong>
                                Bid and Win
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <span class="media-left"> <img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/hoewerkt3.png" /> </span>
                        <div class="media-body text-center hd-content">
                            <strong>
                                Pay the seller
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <span class="media-left"> <img src="https://www.easyauctiondemo.com/ea-content/themes/easyauction/images/hoewerkt4.png" /> </span>
                        <div class="media-body text-center hd-content">
                            <strong>
                                Enjoy your purchase
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-flash">
            <div class="">
                <ul class="breadcrumb">
                    <li class="first-child" itemscope=itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://www.easyauctiondemo.com/" itemprop="url"><span itemprop="title">easyauctiondemo.com</span></a></li>

                    <li itemscope=itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> &raquo; <a href="https://www.easyauctiondemo.com/vacation" itemprop="url"><span itemprop="title">Vacation</span></a></li>

                    <li class="last-child" itemscope=itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> &raquo; <span itemprop="title">NY City trip</span></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>