@model AuctionOnline.ViewModels.LayoutViewModel
<!DOCTYPE html>

<html>
<head>
    <title>Auction.vn</title>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Online auction">
    <meta name="keywords" content="Toàn quốc,sohot,nội thất,bàn,ghế,mua bán,giuờng tủ,đấu giá,rao vặt,chợ,thuê,cho thuê,5giay,chotot,vatgia,tin rao">
    <meta property="og:title" content="SoHot.vn - Toàn quốc - Nội thất online">
    <meta property="og:url">
    <meta property="og:site_name" content="CP Noi that Sohot">
    <meta property="og:description" content="SoHot Toàn quốc - Nội thất online">
    <meta property="og:type" content="article">
    <meta name="author" content="Auction.vn">

    <link rel="shortcut icon" href="~/base/view/images/favicon.ico" type="image/x-icon">

    <!-- link(href=URL_ROOT + 'library/bootstrap/css/bootstrap.min.css', rel='stylesheet')-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" media="screen">
    <link href="~/library/bootstrap/panel-tabs.css" rel="stylesheet">
    <link href="~/base/view/css/user.css" rel="stylesheet">
    <link href="~/library/css/style.css" rel="stylesheet">

    <!-- link(href=URL_ROOT + 'library/font_awesome/css/font-awesome.min.css', rel='stylesheet')-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="~/library/javascript/jquery-3.1.1.min.js"></script>


    <script src="~/library/javascript/jquery.cookie.js"></script>
    <script src="~/library/javascript/nprogress/nprogress.js"></script>
    <script src="~/library/javascript/push.min.js"></script>
    <!-- push notification-->
    <script type="text/javascript" src="~/library/javascript/script.js"></script>
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="~/notifications/css/style.css">
</head>
<body>
    <div id="fb-root"></div>

    <a id="overlay" onclick="sideBarToggle()"></a>
    <!-- body content-->
    <!--Navbar-->
    @await Component.InvokeAsync("Navbar")
    <div id="wrapper">
        <div id="sidebar">
            <div id="sidebar-wrapper" style="background:#fff">
                <div id="catlist" style="position:fixed;top:65px;min-width:185px;max-width:185px !important;margin-bottom:10px" class="list-group list-group-root well">
                    @await Html.PartialAsync("~/Views/PartialViews/_CategoryPartial.cshtml", Model.CategoriesVM)
                </div>
            </div>
        </div>
        <div id="main-content" class="col-md-12">
            @RenderBody()
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- all js-->
    <script src="~/library/bootstrap/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1594947-31"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-1594947-31');
    </script>
    <div id="footer">
        <div class="cont">
            <div style="margin: auto" class="s-pad row">
                <div class="col-xs-9">
                    <h3>&copy; SoHot.vn</h3>
                </div>
                <div class="col-xs-3 text-right">
                    <h3>
                        <i data-toggle="collapse" data-target="#more-footer" class="fa fa-info-circle fa-lg"></i>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="more-footer" class="collapse">
                <div class="row">
                    <div class="col-md-6">
                        APROTRAIN - THE APPLIED
                        PROFESSIONAL TRAINING CORPORATION
                        <br>              Địa chỉ: 212 Nguyen Dinh Chieu Str., 3rd Dist., Hochiminh City, Vietnam
                        <br>              Mã số doanh nghiệp: 0304-899-283 ngày cấp 22/8/2015
                        <br>              Cơ quan cấp: Sở Kế Hoạch và Đầu Tư Tp.HCM
                        <br>              Tel:  (+84)969.275.695
                        <br>              E-mail:
                        <a href="mailto:npmt0605@gmail.com">npmt0605@gmail.com</a>
                        <br>
                        <a href="https://m.me/thong0605" target="_blank">Contact Us</a>
                        <!--img(src='https://online.gov.vn/Images/dadangky.png' width='150') -->
                    </div>
                    <div class="col-md-2">
                        <h3>
                            <div class="label label-default">Customer services</div>
                        </h3>
                        <div class="spacer"></div>
                        <ul>
                            <li><a href="/bang-gia-quang-cao">Bảng giá quảng cáo</a></li>
                            <li><a href="/cac-cau-hoi-thuong-gap">F & Q</a></li>
                            <li><a href="/cach-thuc-hoat-dong">Cách thức hoạt động</a></li>
                            <li><a href="/giao-dich-an-toan">Giao dịch an toàn</a></li>
                            <li><a href="/quy-dinh-su-dung">Term Agreement</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>
                            <div class="label label-default">Acout Sohot.vn</div>
                        </h3>
                        <div class="spacer"></div>
                        <ul>
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="/lien-he">Liên hệ</a></li>
                            <li><a href="/sitemap">Site map</a></li>
                            <li><a href="/uploads/quy_che_sohot.vn.pdf">Quy chế hoạt động</a></li>
                            <li><a href="/uploads/chinh_sach_bao_mat_thong_tin_ca_nhan.pdf">Security Privacy</a></li>
                            <li><a href="/chinh-sach-giai-quyet-khieu-nai">Chính sách giải quyết khiếu nại</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/notifications/lib/signalR/browser/signalr.js"></script>
    <script src="~/notifications/js/site.js" asp-append-version="true"></script>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("~/Views/PartialViews/_ValidationScriptsPartial.cshtml");}
}