<!DOCTYPE html>
<html>

<body>

    @RenderBody()

    <script src="~/notifications/lib/jquery/dist/jquery.js"></script>
    <script src="~/notifications/lib/signalR/browser/signalr.js"></script>
    <script src="~/notifications/js/site.js" asp-append-version="true"></script>

</body>
</html>
