<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1577090686821 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="title-subtile-holder">
                    <h1 class="section-title">Need Help? Contact us</h1>
                    <div class="section-border"></div>
                    <div class="section-subtitle"></div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1568015599766 vc_column-gap-20">
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-sm vc_hidden-xs">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 50px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>
                                            <img class="alignnone wp-image-4932 size-full" src="https://ibid.modeltheme.com/wp-content/uploads/2019/08/contact-us-map.png" alt="" width="1002" height="584" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div role="form" class="wpcf7" id="wpcf7-f21-p5905-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="/countdown-auctions/?fbclid=IwAR0fKBtjH6GNkdvJXoRl987cJupshudzIPFzTg8R7zfh37nFB-x3mi91BmU#wpcf7-f21-p5905-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="21" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f21-p5905-o1" />
                                                    <input type="hidden" name="_wpcf7_container_post" value="5905" />
                                                </div>
                                                <div class="ibid-contact row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            <span class="wpcf7-form-control-wrap first-name">
                                                                <input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" />
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            <span class="wpcf7-form-control-wrap last-name">
                                                                <input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" />
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            <span class="wpcf7-form-control-wrap email">
                                                                <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Adress" />
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            <span class="wpcf7-form-control-wrap last-name">
                                                                <input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" />
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label>
                                                            <span class="wpcf7-form-control-wrap your-message">
                                                                <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="wpcf7-form-control wpcf7-submit">
                                                            SEND MESSAGE
                                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>