<div id="myCarousel" data-ride="carousel" data-interval="3000" class="carousel slide">
    <!-- Wrapper for slides-->
    <div style="height:100% !important" class="carousel-inner">

        <div style="height:100% !important" class="item active">

            <a href="/smoon">
                <img src="uploads/ad/244k8g3fti4auh63.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/tag/B%C3%A0n%20m%E1%BA%B7t%20%C4%91%C3%A1">
                <img src="uploads/ad/zb23qvhvj0l6fr57.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/search/LATUS?">
                <img src="uploads/ad/4bczso97yo8rcacp.png">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/tag/B%C3%A0n%20l%C3%A0m%20vi%E1%BB%87c">
                <img src="uploads/ad/j3eu9tkppiex4tu9.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/tag/B%C3%A0n%20%C4%83n">
                <img src="uploads/ad/7pgczv2iqp74q0r6.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/do-trang-tri">
                <img src="uploads/ad/oxdap9k2jkz99523.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/tag/B%C3%A0n%20tr%C3%A0%20sofa">
                <img src="uploads/ad/iopv972vlzpgh69l.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/giuong">
                <img src="uploads/ad/01ihtqb41h32ges9.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/tp-ho-chi-minh/tu">
                <img src="uploads/ad/v6z7py4rpeuuu9po.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/tag/Gh%E1%BA%BF%20qu%E1%BA%A7y%20bar">
                <img src="uploads/ad/r91f546xry64loi8.jpg">
            </a>
        </div>

        <div style="height:100% !important" class="item ">

            <a href="/toan-quoc/search/sofa+?">
                <img src="uploads/ad/b3y8kolyoj4oaeab.jpg">
            </a>
        </div>

        <div class="item">
            <a href="">
                <img src="">
            </a>
            <script src="bn/mobilebn.js"></script>
        </div>
    </div>

    <!-- Left and right controls-->
    <a href="#myCarousel" data-slide="prev" class="left carousel-control">
        <i class="fa fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a href="#myCarousel" data-slide="next" class="right carousel-control">
        <i class="fa fa-chevron-right"></i>
        <span class="sr-only">Next</span>
    </a>
</div>