@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <main id="main" class="col-md_12 site-main main-content">


            <article id="post-4986" class="post-4986 page type-page status-publish hentry">

                <div class="entry-content">
                    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1569503810162 vc_row-has-fill vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="custom-about wpb_column vc_column_container vc_col-sm-3 vc_hidden-xs vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1568018233528">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h1 style="font-size: 34px; line-height: 41px; color: #484848;"><strong>ABOUT US</strong></h1>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 17px"><span class="vc_empty_space_inner"></span></div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline. Quickly maximize timely deliverables for real-time schemas.</p>
                                            <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed the start-up mentality to derive convergence.</p>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div><div class="text-left"><a href="#" class="button-winona btn btn-sm">Read More</a></div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
                    </div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1565696336846">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p><img class="alignnone size-full wp-image-4912" src="../wp-content/uploads/2019/08/logo-ibid.png" alt="" width="150" height="58" /></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-9">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row wpb_row vc_row-fluid vc_custom_1569839319345">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1569838061609">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/support_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Call Center</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Completely synergize</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/box_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Verify Purchases</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Nanotechnology immersion</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1569838066592">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/tracking_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Order Tracking</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Objectively empowered</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/credit_icon.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">More Currencies</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Quickly maximize</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1569838071712">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/deliveries_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Fastest Delivery</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Efficiently unleash media</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/return_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Returns Policy</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Dynamically innovate</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1569838076767">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/money_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Instant Buying</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Podcasting operational</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com/automotive">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="../wp-content/uploads/2019/08/language_icons.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Free Shipping</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Dramatically engage</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row wpb_row vc_row-fluid missing-member vc_custom_1569839325900">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-sm vc_hidden-xs">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="title-subtile-holder"><h1 class="section-title">OUR TEAM</h1><div class="section-border"></div><div class="section-subtitle"></div></div>
                                    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                    <script>
                                        jQuery(document).ready(function () {
                                            jQuery(".mt_slider_members_5ed0b1111dd69").owlCarousel({
                                                navigation: false, // Show next and prev buttons
                                                pagination: false,
                                                autoPlay: false,
                                                slideSpeed: 700,
                                                paginationSpeed: 700,
                                                autoWidth: true,
                                                itemsCustom: [
                                                    [0, 1],
                                                    [450, 1],
                                                    [600, 8],
                                                    [700, 2],
                                                    [1000, 2],
                                                    [1200, 8],
                                                    [1400, 8],
                                                    [1600, 8]
                                                ]
                                            });

                                            jQuery(".mt_slider_members_5ed0b1111dd69 .owl-wrapper .owl-item:nth-child(2)").addClass("hover_class");
                                            jQuery(".mt_slider_members_5ed0b1111dd69 .owl-wrapper .owl-item").hover(
                                                function () {
                                                    jQuery(".mt_slider_members_5ed0b1111dd69 .owl-wrapper .owl-item").removeClass("hover_class");
                                                    if (jQuery(this).hasClass("open")) {
                                                        jQuery(this).removeClass("open");
                                                    } else {
                                                        jQuery(this).addClass("open");
                                                    }
                                                }
                                            );


                                        });
                                    </script><div class="mt_members1 mt_slider_members_5ed0b1111dd69 row animateIn wow bounce">
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Amber Saunders</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Logistics Manager</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2017/05/member-pic4.png" alt="Amber Saunders" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Sherlyn Mcconnell</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Web Developer</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2017/05/member-pic3.png" alt="Sherlyn Mcconnell" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Bethany Elliott</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Tester</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2017/05/member-pic2.png" alt="Bethany Elliott" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Christine Chubbuck</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Sales Account</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2017/05/member-pic1.png" alt="Christine Chubbuck" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">John Francis</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Content Writer</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2019/08/member-pic5.png" alt="John Francis" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Alex Sand</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Customer Support</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2019/08/member-pic6.png" alt="Alex Sand" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Audrey Steel</h3>
                                                                <div class="content-div"><p class="member01_content-desc">Project Manager</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2017/05/member-pic4.png" alt="Audrey Steel" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 relative">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="member_hover" class="members_img_holder">
                                                        <div class="member01-content">
                                                            <div class="member01-content-inside">
                                                                <h3 class="member01_name">Mary Anne</h3>
                                                                <div class="content-div"><p class="member01_content-desc">CEO</p></div>
                                                                <div class="member01_social"><a target="_new" href="#" class="member01_profile-facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_new" href="https://twitter.com/#" class="member01_profile-twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_new" href="#" class="member01_profile-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a target="_new" href="#" class="member01_vimeo_url"> <i class="fa fa-vimeo" aria-hidden="true"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                        <div class="memeber01-img-holder">
                                                            <div class="grid">
                                                                <div class="effect-duke">
                                                                    <img src="../wp-content/uploads/2017/05/member-pic3.png" alt="Mary Anne" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1566982557326 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1567586567194">
                                <div class="wpb_wrapper">
                                    <style type="text/css" scoped>
                                        .testimonial-img-holder .testimonial-img {
                                            border-color: !important;
                                        }
                                    </style><div class="vc_row">
                                        <div data-animate="" class="testimonials-container-1 owl-carousel owl-theme animateIn">
                                            <div class="wow  item vc_col-md-12 relative">
                                                <div class="testimonial01_item">
                                                    <div class="testimonial01-img-holder pull-left">
                                                        <div class="testimonail01-content">
                                                            <p><p>Yahoo Inc. is an American multinational Internet corporation headquartered in Sunnyvale, California. It is globally known for its Web portal, search engine Yahoo Search.</p>
                                                            </p>
                                                        </div>
                                                        <div class="testimonial-info-content">
                                                            <div class="testimonail01-profile-img"><img alt="testimonial-image" src="../wp-content/uploads/2015/02/member-team1.jpg"></div><div class="testimonail01-name-position ">
                                                                <h2 class="name-test"><strong>Martin Culich</strong></h2>
                                                                <p class="position-test">Digital Marketer</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="wow  item vc_col-md-12 relative">
                                                <div class="testimonial01_item">
                                                    <div class="testimonial01-img-holder pull-left">
                                                        <div class="testimonail01-content">
                                                            <p><p>Google is an American multinational technology company specializing in Internet-related services and products. These include online advertising technologies, search.</p>
                                                            </p>
                                                        </div>
                                                        <div class="testimonial-info-content">
                                                            <div class="testimonail01-profile-img"><img alt="testimonial-image" src="../wp-content/uploads/2015/02/member-team4.jpg"></div><div class="testimonail01-name-position ">
                                                                <h2 class="name-test"><strong>Naren Doe</strong></h2>
                                                                <p class="position-test">Digital Marketer</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="wow  item vc_col-md-12 relative">
                                                <div class="testimonial01_item">
                                                    <div class="testimonial01-img-holder pull-left">
                                                        <div class="testimonail01-content">
                                                            <p><p>Yahoo Inc. is an American multinational Internet corporation headquartered in Sunnyvale, California. It is globally known for its Web portal, search engine Yahoo Search.</p>
                                                            </p>
                                                        </div>
                                                        <div class="testimonial-info-content">
                                                            <div class="testimonail01-profile-img"><img alt="testimonial-image" src="../wp-content/uploads/2015/02/member-team6.jpg"></div><div class="testimonail01-name-position ">
                                                                <h2 class="name-test"><strong>Louis Doe</strong></h2>
                                                                <p class="position-test">Digital Marketer</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="wow  item vc_col-md-12 relative">
                                                <div class="testimonial01_item">
                                                    <div class="testimonial01-img-holder pull-left">
                                                        <div class="testimonail01-content">
                                                            <p><p>Google is an American multinational technology company specializing in Internet-related services and products. These include online advertising technologies, search, cloud computing.</p>
                                                            </p>
                                                        </div>
                                                        <div class="testimonial-info-content">
                                                            <div class="testimonail01-profile-img"><img alt="testimonial-image" src="../wp-content/uploads/2015/02/member-team7.jpg"></div><div class="testimonail01-name-position ">
                                                                <h2 class="name-test"><strong>Trend Doe</strong></h2>
                                                                <p class="position-test">Digital Marketing</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="wow  item vc_col-md-12 relative">
                                                <div class="testimonial01_item">
                                                    <div class="testimonial01-img-holder pull-left">
                                                        <div class="testimonail01-content">
                                                            <p><p>Yahoo Inc. is an American multinational Internet corporation headquartered in Sunnyvale, California. It is globally known for its Web portal, search engine Yahoo Search.</p>
                                                            </p>
                                                        </div>
                                                        <div class="testimonial-info-content">
                                                            <div class="testimonail01-profile-img"><img alt="testimonial-image" src="../wp-content/uploads/2015/02/member-team5.jpg"></div><div class="testimonail01-name-position ">
                                                                <h2 class="name-test"><strong>Karla Avala</strong></h2>
                                                                <p class="position-test">Digital Marketing</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1567586655124"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1566982470056"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="stats-block statistics col-md-12 wow bounce"><div class="stats-heading-img col-md-5"><div class="stats-img"><img src="../wp-content/uploads/2019/08/skills-icon1.png" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2019/08/skills-icon1.png" alt=""></div></div><div class="stats-content percentage col-md-7" data-perc="8523" style="background:"><span class="skill-count" style="color: #484848">8523</span><p style="color: #484848">Auctions</p></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="stats-block statistics col-md-12 wow bounce"><div class="stats-heading-img col-md-5"><div class="stats-img"><img src="../wp-content/uploads/2019/08/skills-icon4.png" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2019/08/skills-icon4.png" alt=""></div></div><div class="stats-content percentage col-md-7" data-perc="116" style="background:"><span class="skill-count" style="color: #484848">116</span><p style="color: #484848">Employees</p></div></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1566982476110"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="stats-block statistics col-md-12 wow bounce"><div class="stats-heading-img col-md-5"><div class="stats-img"><img src="../wp-content/uploads/2019/08/skills-icon2.png" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2019/08/skills-icon2.png" alt=""></div></div><div class="stats-content percentage col-md-7" data-perc="458" style="background:"><span class="skill-count" style="color: #484848">458</span><p style="color: #484848">Seller Accounts</p></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="stats-block statistics col-md-12 wow bounce"><div class="stats-heading-img col-md-5"><div class="stats-img"><img src="../wp-content/uploads/2019/08/skills-icon3.png" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2019/08/skills-icon3.png" alt=""></div></div><div class="stats-content percentage col-md-7" data-perc="4523" style="background:"><span class="skill-count" style="color: #484848">4523</span><p style="color: #484848">Total Accounts</p></div></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1567159726522"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="stats-block statistics col-md-12 wow bounce"><div class="stats-heading-img col-md-5"><div class="stats-img"><img src="../wp-content/uploads/2019/08/about_pic5.png" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2019/08/about_pic5.png" alt=""></div></div><div class="stats-content percentage col-md-7" data-perc="458" style="background:"><span class="skill-count" style="color: #484848">458</span><p style="color: #484848">Users Helped</p></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="stats-block statistics col-md-12 wow bounce"><div class="stats-heading-img col-md-5"><div class="stats-img"><img src="../wp-content/uploads/2019/08/about_pic6.png" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2019/08/about_pic6.png" alt=""></div></div><div class="stats-content percentage col-md-7" data-perc="458" style="background:"><span class="skill-count" style="color: #484848">458</span><p style="color: #484848">Problems Solved</p></div></div></div></div></div></div></div></div></div>
                    </div><div class="vc_row-full-width vc_clearfix"></div>

                    <div class="clearfix"></div>
                </div><!-- .entry-content -->

                <footer class="entry-footer">
                </footer><!-- .entry-footer -->
            </article><!-- #post-## -->

        </main>
    </div>
</div>
