<div class="btn-sticky-left">
    <a href="https://modeltheme.com/go/purchase-ibid-theme/" target="_blank" title="Purchase iBid"><i class="icon-basket-loaded icons"></i></a>
    <a href="http://docs.modeltheme.com/ibid/" target="_blank" title="Theme Docs"><i class="icon-book-open icons"></i></a>
    <a href="https://modeltheme.ticksy.com/submit/#100015984" target="_blank" title="Submit Support Ticket"><i class="icon-support icons"></i></a>
</div>

<style type="text/css">
    .btn-sticky-left {
        background: #2695FF none repeat scroll 0 0;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 0 25px rgba(37, 37, 37, 0.4);
        left: 0;
        z-index: 222;
        position: fixed;
        top: 46%;
    }

        .btn-sticky-left a i {
            color: #fff;
            font-size: 18px;
        }

        .btn-sticky-left:hover > a {
            width: 50px;
        }

        .btn-sticky-left > a {
            padding: 10px;
            display: block;
            height: 40px;
            text-align: center;
            width: 40px;
            transition: all 250ms ease-in-out;
        }
</style>k