<div class="modeltheme-modal" id="modal-log-in">

    <div class="modeltheme-content" id="login-modal-content">
        <h3 class="relative">
            Login to Your Account
        </h3>
        <div class="modal-content row">
            <div class="col-md-12">

                <form name="loginform" id="loginform"  method="post" asp-action="login" asp-controller="account">

                    <p class="login-username">
                        <label for="user_login">Username or Email Address</label>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <input type="text" name="username" id="user_login" class="input" value="" required size="20" placeholder="Username">
                    </p>
                    <p class="login-password">
                        <label for="user_pass">Password</label>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <input type="password" name="password" id="user_pass" class="input" value="" required size="20" placeholder="Password">
                    </p>

                    <p class="login-remember">
                        <label>
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever">
                            Remember Me
                        </label>
                    </p>
                    <div class="row-buttons">
                        <p class="login-submit">
                            <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary" value="Log In">
                            <input type="hidden" name="redirect_to" value="https://ibid.modeltheme.com">
                        </p>
                        <p class="btn-register-p">
                            <a class="btn btn-register" id="register-modal">Register</a>
                        </p>
                        <p class="woocommerce-LostPassword lost_password">
                            <a  asp-controller="account"asp-action="resetpassword">Lost your password?</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modeltheme-content" id="signup-modal-content">
        <h3 class="relative">
            Personal Details
        </h3>
        <div class="modal-content row">
            <div class="col-md-12">
                <div class="u-column2 col-2">
                    <form method="post" class="woocommerce-form woocommerce-form-register register" asp-action="register" asp-controller="account">
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="fullname" id="reg_username" autocomplete="username" value="" placeholder="Full Name" />
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="reg_username" autocomplete="username" value="" placeholder="Username" />
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" autocomplete="email" value="" placeholder="Email address" />
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password" id="reg_password" autocomplete="new-password" placeholder="Password" />
                        </p>
                        <div class="woocommerce-privacy-policy-text"></div>
                        <p class="woocommerce-FormRow form-row">
                            <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="0f0d4c4a8b" /><input type="hidden" name="_wp_http_referer" value="/countdown-auctions/?fbclid=IwAR0fKBtjH6GNkdvJXoRl987cJupshudzIPFzTg8R7zfh37nFB-x3mi91BmU" />                                            <button type="submit" class="woocommerce-Button button" name="register" value="Register">Register</button>
                            <!-- Back to login -->
                            <a class="btn btn-login btn-login-p" id="login-modal">Back to Login</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>