<select name='product_cat' id='product_cat' class='form-control1'>
    <option value=''>Category</option>
    <option class="level-0" value="kids-toys">Kids Toys</option>
    <option class="level-0" value="electronics">Electronics</option>
    <option class="level-0" value="laptops">Laptops IT Products</option>
    <option class="level-0" value="home-appliances">Home Appliances</option>
    <option class="level-0" value="phones">Phones</option>
    <option class="level-0" value="fashion-sports">Fashion &amp; Sports</option>
    <option class="level-0" value="mobile-phones">Mobile Phones</option>
    <option class="level-0" value="protection-phones">Cases &amp; Protection</option>
    <option class="level-0" value="power-bank">Power Banks</option>
    <option class="level-0" value="mobile-phone-chargers">Mobile Chargers</option>
    <option class="level-0" value="data-cables-phones">Data Cables</option>
    <option class="level-0" value="selfie-stickers">Selfie Sticks</option>
    <option class="level-0" value="tablets">Tablets</option>
    <option class="level-0" value="protection-tablets">Tablets Protection</option>
    <option class="level-0" value="console-gaming">Console Gaming</option>
    <option class="level-0" value="televisions">Televisions</option>
    <option class="level-0" value="refrigerators">Refrigerators</option>
    <option class="level-0" value="accessories">Accessories</option>
    <option class="level-0" value="ladies-clothing">Ladies clothing</option>
    <option class="level-0" value="bags-watches-mens-accessories">Men Accessories</option>
</select>