<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1576751502668">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1537949981399">
            <div class="wpb_wrapper">
                <div class="title-subtile-holder">
                    <h1 class="section-title">Latest News</h1>
                    <div class="section-border"></div>
                    <div class="section-subtitle"></div>
                </div>
                <div class="ibid_shortcode_blog vc_row sticky-posts">
                    <div class="vc_col-md-4 post">
                        <div class="col-md-4 blog-thumbnail">
                            <a href="https://ibid.modeltheme.com/a-smartphone-keeps-your-friend-away/" class="relative">
                                <img src="https://ibid.modeltheme.com/wp-content/uploads/2019/09/blogpost6-400x400.jpg" alt="A Phone Keeps Your Friends Away" />
                                <div class="thumbnail-overlay absolute" style="background: rgba(21,21,21,0.47)!important;">
                                    <i class="fa fa-plus absolute"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8 blog-content">
                            <div class="head-content">
                                <h3 class="post-name">
                                    <a href="https://ibid.modeltheme.com/a-smartphone-keeps-your-friend-away/" style="color: #151515">A Phone Keeps Your Friends Away</a>
                                </h3>
                            </div>
                            <div class="post-excerpt">Bring to the table win-win survival strategies to ensure&hellip;</div>
                        </div>
                    </div>
                    <div class="vc_col-md-4 post">
                        <div class="col-md-4 blog-thumbnail">
                            <a href="https://ibid.modeltheme.com/acer-chromebook-tab-10-review/" class="relative"><img src="https://ibid.modeltheme.com/wp-content/uploads/2017/06/blog-post3-1-400x400.jpg" alt="Chromebook Tab 10 review" /><div class="thumbnail-overlay absolute" style="background: rgba(21,21,21,0.47)!important;"><i class="fa fa-plus absolute"></i></div></a>
                        </div><div class="col-md-8 blog-content"><div class="head-content"><h3 class="post-name"><a href="https://ibid.modeltheme.com/acer-chromebook-tab-10-review/" style="color: #151515">Chromebook Tab 10 review</a></h3></div><div class="post-excerpt">Bring to the table win-win survival strategies to ensure&hellip;</div></div>
                    </div><div class="vc_col-md-4 post"><div class="col-md-4 blog-thumbnail"><a href="https://ibid.modeltheme.com/vr-boxes-sales-for-black-friday/" class="relative"><img src="https://ibid.modeltheme.com/wp-content/uploads/2017/06/blogpost1-400x400.jpg" alt="VR Boxes Sales for Black Friday" /><div class="thumbnail-overlay absolute" style="background: rgba(21,21,21,0.47)!important;"><i class="fa fa-plus absolute"></i></div></a></div><div class="col-md-8 blog-content"><div class="head-content"><h3 class="post-name"><a href="https://ibid.modeltheme.com/vr-boxes-sales-for-black-friday/" style="color: #151515">VR Boxes Sales for Black Friday</a></h3></div><div class="post-excerpt">Bring to the table win-win survival strategies to ensure&hellip;</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>