
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--new layout-->
<div class="row">
    <div style="margin:auto;min-width:300px;max-width:400px" class="center">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" asp-action="forgotpassword" asp-controller="account">
                    <div style="margin:auto;min-width:300px;max-width:400px" class="center">
                        <div class="panel panel-default">
                            <div class="panel-heading">Quên mật khẩu</div>
                            <div class="panel-body">
                                <p align="center">
                                <p>@ViewBag.Failed</p>
                                <p>@ViewBag.Success</p>
                                <p>@ViewBag.errorSendMail</p>
                                </p>
                                <div class="xs-pad">
                                    <input name="email" placeholder="Nhập vào địa chỉ email của bạn" class="form-control">
                                </div>
                                <div class="xs-pad text-center">
                                    <button type="submit" class="btn btn-default custom">Quên mật khẩu</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>