@using Microsoft.AspNetCore.Http;
@model AuctionOnline.ViewModels.LayoutViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @await Component.InvokeAsync("Search")
    <div class="spacer"></div>
    <div style="margin-bottom:10px" class="panel panel-default">
        <div class="topiclist panel-body">
            <script src="~/library/javascript/infinite-scroll.pkgd.min.js"></script>
            <div id="mainTopiclist" class="topiclist">
                <div class="topiclist-wrapper">
                    @foreach (var account in Model.AccountsVM)
                    {
                        <div class="account grid col-md-5ths col-xs-6">
                            <div class="accountcontainer">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <div style="padding-left:15px" class="row">
                                        <a class="thumb">
                                            <img src="~/images/accounts/@account.Photo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3>
                                                <a class="f-black">@Html.DisplayFor(modelAccount => account.Fullname)</a>
                                            </h3>
                                        </div>
                                        <div class="col-sm-3 f-red text-right">
                                            <a><button type="button" class="btn btn-danger">Profile</button></a>

                                            <div class="text-nowrap">

                                            </div>
                                            <div class="spacer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!--foreach-->

                </div>
                <div class="clearfix"></div>

                <!--.center.text-center!=pagestr-->

                <div style="line-height:35px" class="col-xs-12 text-center">
                    <div class="row">
                        <a id="nextpage" href="" class="btn btn-default f-red">
                            <i style="margin-right:5px" class="fa fa-chevron-circle-left fa-lg"></i>
                            Sau
                        </a>
                        &nbsp;
                        <a id="nextpage" href="" class="btn btn-default f-red">
                            <i style="margin-right:5px" class="fa fa-chevron-circle-right fa-lg"></i>
                            Tiếp
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="spacer">

        </div>
    </div>
</div>
