@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--new layout-->
<div class="row">
    <div style="margin:auto;min-width:300px;max-width:400px" class="center">
        <div class="panel panel-default">
            <div class="panel-heading">Đăng nhập</div>
            <div class="panel-body">
                <form method="post" class="ajax-form" asp-action="Login" asp-controller="account">
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input placeholder="Username" name="username" type="text" size="25" style="text-align:center" class="form-control">
                    </div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input placeholder="Password" name="password" type="password" size="25" style="text-align:center" class="form-control">
                    </div>
                    <div class="xs-pad text-center">
                        <button type="submit" class="btn btn-default custom">Đăng nhập</button>
                        <div class="spacer"></div>
                        <a asp-action="Forgotpassword" asp-controller="account">Quên mật khẩu</a>
                        <hr>
                        <a id="facebooklogin" type="button" asp-controller="account" asp-action="Register" class="btn btn-default custom">
                            <i style="margin-right:5px" class="fa fa-facebook-official fa-lg"></i>
                            Đăng ký
                        </a>
                    </div>
                    <input type="hidden" name="act" value="login">
                </form>
            </div>
        </div>
    </div>
</div>