
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page content -->
<div class="rowr">
    <h2>Welcome</h2>
    <a asp-action="logout" asp-controller="home">Log Out</a>
    <br />
    <a asp-action="index" asp-controller="home">Return to page Home</a>
</div>
