@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page content -->
<div id="primary" class="high-padding content-area no-sidebar">
    <div class="container">
        <main id="main" class="col-md_12 site-main main-content">


            <article id="post-5643" class="post-5643 page type-page status-publish hentry">

                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1569928367347">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p><img class="aligncenter wp-image-5307" src="https://ibid.modeltheme.com/wp-content/uploads/2019/09/404-1024x498.png" alt="" width="900" height="438" srcset="https://ibid.modeltheme.com/wp-content/uploads/2019/09/404-1024x498.png 1024w, https://ibid.modeltheme.com/wp-content/uploads/2019/09/404-300x146.png 300w, https://ibid.modeltheme.com/wp-content/uploads/2019/09/404-768x374.png 768w, https://ibid.modeltheme.com/wp-content/uploads/2019/09/404-600x292.png 600w, https://ibid.modeltheme.com/wp-content/uploads/2019/09/404.png 1500w" sizes="(max-width: 900px) 100vw, 900px" /></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div><!-- .entry-content -->

                <footer class="entry-footer">
                </footer><!-- .entry-footer -->
            </article><!-- #post-## -->

        </main>
    </div>
</div>