@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <main id="main" class="col-md_12 site-main main-content">
            <article id="post-5905" class="post-5905 page type-page status-publish hentry">

                <div class="entry-content">
                    <!--Bid 1-->
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1576582847629 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1576574573827">
                                <div class="wpb_wrapper">
                                    <h1 style="font-size: 48px;color: #252525;line-height: 62px;text-align: left;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading ibid-countdown wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                        Hurry up<br />
                                        to catch the <strong>
                                            ultimate<br />
                                            sale
                                        </strong> on iBid.
                                    </h1><h3 style="font-size: 18px;color: #252525;line-height: 26px;text-align: left;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                        Capitalize on low hanging fruit to identify a ballpark value added<br />
                                        activity to beta test. Override the digital divide with additional clickthroughs from DevOps.
                                    </h3><div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container  custom_ibid vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-flat vc_btn3-color-juicy-pink" href="https://ibid.modeltheme.com/shop/" title="">AUCTIONS ENDING SOON</a></div>
                                </div>
                            </div>
                        </div><div class="box-shadow-inner wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1576670727781">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;"><span style="color: #606060;">The next auction ends in:</span></p>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                                    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                    <script type="text/javascript">
                                        var clock;

                                        jQuery(document).ready(function () {

                                            // Grab the current date
                                            var currentDate = new Date();

                                            // Grab the date inserted by user
                                            var inserted_date = new Date("2020-08-08");

                                            // Calculate the difference in seconds between the future and current date
                                            var diff = inserted_date.getTime() / 1000 - currentDate.getTime() / 1000;

                                            // Instantiate a coutdown FlipClock
                                            clock = jQuery("#countdown_5ed32a4f64749").FlipClock(diff, {
                                                clockFace: "DailyCounter",
                                                countdown: true
                                            });
                                        });
                                    </script><div class="countdownv2_holder "><div class="countdownv2 clock " id="countdown_5ed32a4f64749"></div></div><div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container  custom_ibid vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-flat vc_btn3-color-juicy-pink" href="https://ibid.modeltheme.com/shop/" title="">View Auction</a></div><div class="vc_empty_space" style="height: 3px"><span class="vc_empty_space_inner"></span></div>
                                    <div class="wpb_text_column wpb_content_element  ibid-countdown">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">Total auctioneers: <strong>23</strong> | Current bid: <strong>$199</strong> | Buy price: <strong>$359</strong></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Bid 1-->
                    <!--Customer services-->
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1576750976876">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1566992943471">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="https://ibid.modeltheme.com/wp-content/uploads/2019/12/support_icons-r.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Call Center</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Completely synergize</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1566992948720">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="https://ibid.modeltheme.com/wp-content/uploads/2019/12/tracking_icons-r.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Order Tracking</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Objectively empowered</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1566992955232">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="https://ibid.modeltheme.com/wp-content/uploads/2019/12/deliveries_icons-r.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Fastest Delivery</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Efficiently unleash media</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1566992960725">
                                <div class="wpb_wrapper">
                                    <div class="mt-icon-listgroup-item wow ">
                                        <a href="https://ibid.modeltheme.com">
                                            <div class="mt-icon-listgroup-holder">
                                                <div class="mt-icon-listgroup-icon-holder-inner"><img alt="list-image" style="margin-right:20px;" class="mt-image-list" src="https://ibid.modeltheme.com/wp-content/uploads/2019/12/money_icons-r.png"></div>
                                                <div class="mt-icon-listgroup-content-holder-inner">
                                                    <p class="mt-icon-listgroup-title" style="font-size: 20px; color: #343e47">Instant Buying</p>
                                                    <p class="mt-icon-listgroup-text" style="font-size: 14px; color: #606060">Podcasting operational</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End customer services-->
                    <!--Auction Expiring-->
                    @await Component.InvokeAsync("Expiring")
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Auction Expiring-->
                    <!--Time Remaining-->
                    @await Component.InvokeAsync("TimeRemaining")
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Time Remaining-->
                    <!--Bid 2-->
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1576751483698 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="featured_product_shortcode col-md-12 wow  " style=" background-color: #ffffff;">
                                        <div class="featured_product_details_holder  col-md-6">
                                            <h2 class="featured_product_categories" style="color: #ea3546;"></h2><h1 class="featured_product_name" style="color: #151515;">
                                                <a href="https://ibid.modeltheme.com/product/smartphone-earbuds/">Smartphone Earbuds</a>

                                            </h1><h3 class="featured_product_price" style="color: #606060;">
                                                Current bid : <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>250.00</span></h2><div class="featured_product_description">
                                                    <p>Going forward knowledge is power or we need to button up our approach old boys club. Please use &#8220;solutionise&#8221; instead of solution ideas! 🙂 draw a line in the sand, for take five, punch the tree, and come back in here with a clear head. Out of scope data-point work flows , nor critical mass, and time to open the kimono yet move the needle.</p>
                                                </div><div class="featured_product_countdown">

                                                    <script type="text/javascript">
                                                        var clock;

                                                        jQuery(document).ready(function () {

                                                            // Grab the current date
                                                            var currentDate = new Date();

                                                            // Grab the date inserted by user
                                                            var inserted_date = new Date("2020-05-31");

                                                            // Calculate the difference in seconds between the future and current date
                                                            var diff = inserted_date.getTime() / 1000 - currentDate.getTime() / 1000;

                                                            // Instantiate a coutdown FlipClock
                                                            clock = jQuery("#countdown_5ed32a4f9bbb0").FlipClock(diff, {
                                                                clockFace: "DailyCounter",
                                                                countdown: true
                                                            });
                                                        });
                                                    </script><div class="countdownv2_holder "><div class="countdownv2 clock " id="countdown_5ed32a4f9bbb0"></div></div>
                                                </div><a class="featured_product_button" href="https://ibid.modeltheme.com/product/smartphone-earbuds/?add-to-cart=4450" target="_blank" style="color: #ffffff;background: #ea3546;">Bid now</a>
                                        </div><div class="featured_product_image_holder col-md-6"><img class="featured_product_image" src="https://ibid.modeltheme.com/wp-content/uploads/revslider/product-showcase/object_headphones_1-1.png" alt="Smartphone Earbuds" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Bid 2-->
                    <!--Latest News-->
                    @await Component.InvokeAsync("LatestNews")
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Latest News-->
                    <!--Common Categories-->
                    @await Component.InvokeAsync("Feature")
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Common Categories-->
                    <!--Layout divider-->
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1576751549131 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div id="lvca-carousel-5ed32a4f9f7d2" class="lvca-carousel lvca-container" data-settings='{"arrows":"","dots":"","autoplay":"","autoplay_speed":"3000","animation_speed":"300","pause_on_hover":"","display_columns":"6","scroll_columns":"1","gutter":"40","tablet_display_columns":"2","tablet_scroll_columns":"2","tablet_gutter":"10","tablet_width":"800","mobile_display_columns":"1","mobile_scroll_columns":"1","mobile_gutter":"10","mobile_width":"480"}'>
                                        <div class="lvca-carousel-item"><img class="alignnone size-medium wp-image-4541" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-1-300x90.png" alt="" width="300" height="90" /></div><!-- .lvca-carousel-item --><div class="lvca-carousel-item">
                                            <img class="alignnone size-medium wp-image-4540" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-2-300x90.png" alt="" width="300" height="90" />
                                        </div>
                                        <!-- .lvca-carousel-item --><div class="lvca-carousel-item">
                                            <img class="alignnone size-medium wp-image-4541" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-1-300x90.png" alt="" width="300" height="90" />
                                        </div><!-- .lvca-carousel-item --><div class="lvca-carousel-item"><img class="alignnone size-medium wp-image-4540" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-2-300x90.png" alt="" width="300" height="90" /></div><!-- .lvca-carousel-item --><div class="lvca-carousel-item"><img class="alignnone size-medium wp-image-4541" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-1-300x90.png" alt="" width="300" height="90" /></div>
                                        <!-- .lvca-carousel-item -->
                                        <div class="lvca-carousel-item"><img class="alignnone size-medium wp-image-4540" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-2-300x90.png" alt="" width="300" height="90" /></div>
                                        <!-- .lvca-carousel-item -->
                                        <div class="lvca-carousel-item">
                                            <img class="alignnone size-medium wp-image-4540" src="https://ibid.modeltheme.com/wp-content/uploads/2015/04/client2-s2-2-300x90.png" alt="" width="300" height="90" />
                                        </div>
                                        <!-- .lvca-carousel-item -->
                                    </div>
                                    <!-- .lvca-carousel -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Layout divider-->
                    <!--Bid 3-->
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1576670288870 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element  over-section">
                                        <div class="wpb_wrapper">
                                            <p><img class="alignright wp-image-6015 size-full" src="https://ibid.modeltheme.com/wp-content/uploads/2019/12/featured-im00.png" alt="" width="549" height="639" srcset="https://ibid.modeltheme.com/wp-content/uploads/2019/12/featured-im00.png 549w, https://ibid.modeltheme.com/wp-content/uploads/2019/12/featured-im00-258x300.png 258w" sizes="(max-width: 549px) 100vw, 549px" /></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-row wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1576670881974">
                                <div class="wpb_wrapper">
                                    <div class="featured_product_shortcode v2 col-md-12 wow  " style=" background-color: ;">
                                        <div class="featured_product_details_holder col-md-12">
                                            <h2 class="featured_product_categories" style="color: ;"></h2>
                                            <h1 class="featured_product_name" style="color: ;">
                                                <a href="https://ibid.modeltheme.com/product/ultra-portable-laptop-asus-zenbook-13-intel-core-i7/">Ultra Laptop ZenBook 13</a>
                                            </h1>
                                            <div class="featured_product_description">
                                                <p>Going forward knowledge is power or we need to button up our approach old boys club. Please use &#8220;solutionise&#8221; instead of solution ideas! 🙂 draw a line in the sand, for take five, punch the tree, and come back in here with a clear head. Out of scope data-point work flows , nor critical mass, and time to open the kimono yet move the needle.</p>
                                            </div>
                                            <div class="featured_product_countdown">
                                                <script type="text/javascript">
                                                    var clock;
                                                    jQuery(document).ready(function () {

                                                        // Grab the current date
                                                        var currentDate = new Date();

                                                        // Grab the date inserted by user
                                                        var inserted_date = new Date("2020-03-20");

                                                        // Calculate the difference in seconds between the future and current date
                                                        var diff = inserted_date.getTime() / 1000 - currentDate.getTime() / 1000;

                                                        // Instantiate a coutdown FlipClock
                                                        clock = jQuery("#countdown_5ed32a4fa30aa").FlipClock(diff, {
                                                            clockFace: "DailyCounter",
                                                            countdown: true
                                                        });
                                                    });
                                                </script>
                                                <div class="countdownv2_holder ">
                                                    <div class="countdownv2 clock " id="countdown_5ed32a4fa30aa"></div>
                                                </div>
                                            </div>
                                            <a class="featured_product_button" href="https://ibid.modeltheme.com/product/ultra-portable-laptop-asus-zenbook-13-intel-core-i7/?add-to-cart=4463" target="_blank" style="color: #ffffff;background: #ea3546;">Place Bid</a>
                                            <p class="featured_product_price" style="color: ;">
                                                Current bid :
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                    499.00
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Bid 3-->
                    <!--Need Help ?-->
                    @await Component.InvokeAsync("HelpContact")
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <!--End Need Help ?-->
                    <div class="clearfix"></div>
                </div><!-- .entry-content -->

                <footer class="entry-footer">
                </footer><!-- .entry-footer -->
            </article><!-- #post-## -->

        </main>
    </div>
</div>