@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper" id="content">
    <div id="main">
        <!--SLIDER-->
        <div class="clearfix"></div><br>
        <div class="row">
            <div class="container">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-md-12 dailyauction">
                            <div class="box">
                                <a href="https://www.easyauctiondemo.com/index.php?page=item&id=30">
                                    <div class="auction-head">
                                        <div class="aotd-img">
                                            <img class="center-block" src="https://www.easyauctiondemo.com/ea-content/uploads/0/85_original.jpg" style="">
                                            <div class="slider-featured language_en"></div>
                                        </div>
                                        <div class="auction-time text-center atimer other" id="1showf30" data-endtime="100" data-id="30"> </div>
                                    </div>
                                </a>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h1 class="">
                                            NY City trip
                                        </h1>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="aotdbutton">
                                            <table id="pr_price">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h1 class="pull-right">
                                                                $199
                                                            </h1>
                                                        </td>
                                                        <td><a class="btn btn-medium btn-success pull-right" asp-controller="details" asp-action="index">Details!</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <div class="row">
                        <div class="list-group">
                            <div class="list-group-item active text-center">Login</div>
                            <form class="login-home" action="https://www.easyauctiondemo.com/index.php" method="post">
                                <input type='hidden' name='CSRFName' value='CSRF214942883_750225133' />
                                <input type='hidden' name='CSRFToken' value='9480eff3c5399731b63486354e782a6c5d9c2b9efdf57bb34802e1e3e973e8b26ada20eb8b6b875d822ada276eb84f0366141425073f10ad76ee38f2f0d8404f' />
                                <input type="hidden" name="page" value="login">
                                <input type="hidden" name="action" value="login_post">
                                <fieldset>
                                    <label for="email">Username or E-mail</label>
                                    <input id="email" name="email" class="form-control" type="text" required>
                                    <br>
                                    <label for="password">Password</label>
                                    <input id="password" name="password" class="form-control" type="password" required>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="remember" value="1"> Remember me</label>
                                    </div>
                                    <input class="btn btn-block btn-primary" value="Login" type="submit" />
                                    <br>
                                    <center><a href="https://www.easyauctiondemo.com/user/recover">Forgot password?</a></center>
                                </fieldset>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END SLIDER-->
        <!--LOOP ITEMS-->
        <div class="clearfix"></div><br>
        <div class="row">
            <div class="container">


                <h1>First Ending</h1>
                <div id='auccontainer'>

                    <div id="auccontainer">



                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=20"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/62_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf20" data-endtime="100" data-id="20"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Chanel  N°5 EAU DE PARFUM (EDP)</h3>
                                </div>
                                <h2 id="h2_titl">$39</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=20">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=30"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/85_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf30" data-endtime="100" data-id="30"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>NY City trip</h3>
                                </div>
                                <h2 id="h2_titl">$199</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=30">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=13"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/33_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf13" data-endtime="100" data-id="13"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Trip to the zoo (4 tickets)</h3>
                                </div>
                                <h2 id="h2_titl">$20</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=13">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=17"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/53_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf17" data-endtime="100" data-id="17"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Drone</h3>
                                </div>
                                <h2 id="h2_titl">$299</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=17">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=19"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/59_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf19" data-endtime="100" data-id="19"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Louis Vuitton Neverfull Monogram (Without Pouch) MM Beige Lining</h3>
                                </div>
                                <h2 id="h2_titl">$2500</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=19">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=4"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/11_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf4" data-endtime="100" data-id="4"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Michael Kors handbag</h3>
                                </div>
                                <h2 id="h2_titl">$49</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=4">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=22"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/67_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf22" data-endtime="100" data-id="22"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Samsung Special Edition Galaxy Smartwatch</h3>
                                </div>
                                <h2 id="h2_titl">$100</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=22">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=23"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/73_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf23" data-endtime="100" data-id="23"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Vacation to Gran Canaria</h3>
                                </div>
                                <h2 id="h2_titl">$2025</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=23">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=24"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/76_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf24" data-endtime="100" data-id="24"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>MTB</h3>
                                </div>
                                <h2 id="h2_titl">$399</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=24">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=25"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/77_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf25" data-endtime="100" data-id="25"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Apple accessories</h3>
                                </div>
                                <h2 id="h2_titl">$50</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=25">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=28"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/80_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf28" data-endtime="100" data-id="28"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Corded headphone</h3>
                                </div>
                                <h2 id="h2_titl">$49</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=28">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=21"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/64_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf21" data-endtime="100" data-id="21"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Fortnite backpack</h3>
                                </div>
                                <h2 id="h2_titl">$19</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=21">Details!</a>


                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=3"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/45_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf3" data-endtime="100" data-id="3"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Apple Watch 3</h3>
                                </div>
                                <h2 id="h2_titl">$100</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=3">Details!</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=6"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/18_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf6" data-endtime="100" data-id="6"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Fun at the bowling alley</h3>
                                </div>
                                <h2 id="h2_titl">$19</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=6">Details!</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=8"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/23_original.jpg"></a> </div>

                                    <div class="auction-time text-center atimer other" id="1showf8" data-endtime="100" data-id="8"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Day at the spa</h3>
                                </div>
                                <h2 id="h2_titl">$11</h2>
                                <a class="btn btn-small btn-success auctionbutton" href="https://www.easyauctiondemo.com/index.php?page=item&id=8">Details!</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 endsoon">
                            <div class="aucbox">
                                <div class="auction-head">
                                    <div class="auction-img"> <a href="https://www.easyauctiondemo.com/index.php?page=item&id=12"><img src="https://www.easyauctiondemo.com/ea-content/uploads/0/31_original.jpg"></a></div>

                                    <div class="auction-time text-center atimer other" id="1showf12" data-endtime="100" data-id="12"> </div>
                                </div>
                                <div class="auction-title">
                                    <h3>Vacation to Spain</h3>
                                </div>
                                <h2 id="h2_titl">$99</h2>
                                <a class="btn btn-small btn-success auctionbutton" asp-controller="details" asp-action="index">Details!</a>


                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div><br>
        <!--FOOTER-->
        <div class="clearfix"></div>
        <br>
        <center>
            <h2 style="text-align: center;">This is a demo auction site. You can auction anything you like.</h2>
            <h2 style="text-align: center;">Create your own auction site for $39/mo. Please visit <a title="Start your own auction website" href="https://www.easy.auction">www.easy.auction</a></h2>
        </center>
        <br>
        <div class="row footer">
            <div class="container">
                <footer>
                    <ul class="list-inline">
                    </ul>
                </footer>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="container">
                <center>
                    <a href="https://www.easyauctiondemo.com/tos-p24">Terms and conditions</a>
                </center>
                <div class="copyright">
                    <small>
                        <span class="muted">
                            <p>
                                This website and all its contents are copyrighted by        <a href="https://www.easyauctiondemo.com/"> https://www.easyauctiondemo.com/</a>
                            </p>
                        </span>
                    </small>
                </div>
            </div>
        </div>
        <br>
        <!--END FOOTER-->
    </div>
    <div id="search-element">
        <span class="close">&times;</span>
        <div id="baseform">
            <form name="modulo" action="https://www.easyauctiondemo.com/index.php" method="get" onsubmit="return doSearch()" class="nocsrf">

                <input type="hidden" name="page" value="search" />
                <fieldset>
                    <div class="tittle_main_search" id="topsearch"><h1><strong>Search ads</strong></h1></div>
                    <div class="home_box_input" id="box_input_query">
                        <input type="text" name="sPattern" id="query" placeholder="" />
                    </div>
                    <div class="fix_width_cathome">
                        <select name="sCategory" id="sCategory"><option value="">Select a category</option><option value="96">Vacation</option><option value="101">Leisure</option><option value="102">Gadgets</option><option value="105">Clothes</option></select>
                    </div>
                    <div class="fix_width_reghome">
                        <input type="text" id="sRegion" name="sRegion" value="" placeholder="City" />
                    </div>
                    <div class="fix_width_cithome">
                        <select id="sCity" name="sCity" style="display:none;">
                            <option value="">City</option>
                        </select>
                    </div>
                    <div class="checkboxes" style="padding-top:10px;padding-bottom:10px;">
                        <label for="withPicture" id="advanceSearcLpic"><input type="checkbox" name="bPic" id="withPicture" value="1" />Show only listings with pictures</label>
                    </div>
                    <div class="plugin-hooks">
                    </div>
                    <br>
                    <button type="submit" id="submitButtonSearch" class="btn btn-primary">Search</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="overlay"></div>
</div>
