<!-- Breadcrumbs -->
<div class="ibid-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="https://ibid.modeltheme.com/automotive">Home</a></li>
                    <li class="active">Auctions Tabs</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Auctions Tabs</h1>
            </div>
        </div>
    </div>
</div>