@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item = ViewBag.DetailItem;
    var seller = ViewBag.Account;
}
<div class="row">
    <script src="https://sohot.vn/library/javascript/slick/slick.min.js"></script>
    <link href="https://sohot.vn/library/javascript/slick/slick-theme.css" rel="stylesheet">
    <link href="https://sohot.vn/library/javascript/slick/slick.css" rel="stylesheet">

    <div style="margin-bottom:10px" class="panel panel-default">
        <div class="panel-heading">
            <ul class="breadcrumb lean">
                <li>
                    <a asp-action="Index">Home</a>
                </li>

                <li>
                    <a href="https://sohot.vn/tp-ho-chi-minh">Province / City Name</a>
                </li>
                <li>
                    <a href="https://sohot.vn/tp-ho-chi-minh/ghe">@item.Name</a>
                </li>
                <!--li.active=$topic->title-->

                <li class="pull-right">
                    <button style="padding:0px 10px" onclick="javascript:saveProduct()" class="btn btn-default">
                        <i class="fa fa-save"></i>
                        <span style="margin-left:10px">Save</span>
                    </button>
                    <div data-href="https://sohot.vn/tp-ho-chi-minh/ghe-aston-co-tay-110.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true" class="fb-like fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=586511584891073&amp;container_width=92&amp;href=https%3A%2F%2Fsohot.vn%2Ftp-ho-chi-minh%2Fghe-aston-co-tay-110.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small">
                        <span style="vertical-align: bottom; width: 122px; height: 20px;">
                            <iframe name="f3fc1bc6b18bb58" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=586511584891073&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df15e235094dbeb8%26domain%3Dsohot.vn%26origin%3Dhttps%253A%252F%252Fsohot.vn%252Ff24309e4d5aa12c%26relation%3Dparent.parent&amp;container_width=92&amp;href=https%3A%2F%2Fsohot.vn%2Ftp-ho-chi-minh%2Fghe-aston-co-tay-110.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small" style="border: none; visibility: visible; width: 122px; height: 20px;" class=""></iframe>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div style="min-height:300px" class="row">

                <div class="col-md-9">


                    <h1>Ghế Aston có tay</h1>
                    <hr>
                    <div id="swap-info" style="margin-bottom:10px"></div>

                    <div id="slick-container">
                        <div class="slick slick-initialized slick-slider">

                            <div aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" role="listbox" style="opacity: 1; width: 869px; transform: translate3d(0px, 0px, 0px);">
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 869px;">
                                        <img src="https://sohot.vn/uploads/market/attachment/89/898/8987-5ee05ea002413.jpg" alt="Ghế Aston có tay">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="slick-counter">
                            <span>1 / 1</span>
                        </div>
                    </div>
                    <div class="spacer"></div>


                    Ghế Aston có tay<br><br>Chân ash <br><br>Bọc vải hoặc simili tùy chọn màu sắc

                    <div style="padding: 10px 0px">

                        <a href="https://sohot.vn/toan-quoc/tag/Ghế văn phòng" style="font-size:14px;line-height:normal" class="label label-primary">Ghế văn phòng</a>
                        <a href="https://sohot.vn/toan-quoc/tag/Ghế gỗ" style="font-size:14px;line-height:normal" class="label label-primary">Ghế gỗ</a>
                        <a href="https://sohot.vn/toan-quoc/tag/Ghế làm việc" style="font-size:14px;line-height:normal" class="label label-primary">Ghế làm việc</a>
                        <a href="https://sohot.vn/toan-quoc/tag/Ghế ăn" style="font-size:14px;line-height:normal" class="label label-primary">Ghế ăn</a>
                    </div>

                    <div>
                        <div data-href="https://sohot.vn/tp-ho-chi-minh/ghe-aston-co-tay-110.html" data-width="" data-numposts="20" class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=586511584891073&amp;container_width=869&amp;height=100&amp;href=https%3A%2F%2Fsohot.vn%2Ftp-ho-chi-minh%2Fghe-aston-co-tay-110.html&amp;locale=en_US&amp;numposts=20&amp;sdk=joey&amp;version=v2.6&amp;width=550">
                            <span style="vertical-align: bottom; width: 550px; height: 178px;">
                                <iframe name="f4f62b39ec7a8" width="550px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/comments.php?app_id=586511584891073&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df27c1a61bc474cc%26domain%3Dsohot.vn%26origin%3Dhttps%253A%252F%252Fsohot.vn%252Ff24309e4d5aa12c%26relation%3Dparent.parent&amp;container_width=869&amp;height=100&amp;href=https%3A%2F%2Fsohot.vn%2Ftp-ho-chi-minh%2Fghe-aston-co-tay-110.html&amp;locale=en_US&amp;numposts=20&amp;sdk=joey&amp;version=v2.6&amp;width=550" style="border: none; visibility: visible; width: 550px; height: 178px;" class=""></iframe>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="seller-info" style="min-width: 245px !important; top: 352px;" class="list-group affix-bottom">

                        <div class="list-group-item b-red text-center">
                            <strong>1.500.000 đ</strong>
                        </div>

                        <div class="list-group-item text-center">
                            <div style="padding-bottom:10px">
                                <strong>
                                    <a href="https://sohot.vn/HappyX">HappyX</a>
                                </strong>
                            </div>

                            <img src="https://sohot.vn/uploads/user/avatar/3p/3pz/3pzqbpf8ryrg-5c0a2d005157b.jpg" width="128" height="128" align="center" class="img-circle">
                        </div>
                        <div class="list-group-item text-center">
                            <a id="openMap" href="javascript:;">
                                <i style="margin-right:10px" class="fa fa-map-marker fa-lg"></i>
                                114 đường 2 cư xá Đô Thành Phường 4&nbsp;Quận 3&nbsp;TP.Hồ Chí Minh
                            </a>
                        </div>
                        <div class="list-group-item text-center">
                            <a href="javascript:;" onclick="$(this).html(&quot;<a style=\'color:#fff\' href=\'tel:&quot;+window.atob($(&quot;#tel&quot;).html())+&quot;\'>&quot; + window.atob($(&quot;#tel&quot;).html()) + &quot;</a>&quot;);" class="btn btn-primary">
                                <i style="margin-right:10px" class="fa fa-phone fa-lg"></i>
                                Hiện số điện thoại
                            </a>
                        </div>

                        <div class="list-group-item text-center">

                            <a href="https://m.me/noithat5giay" target="_blank" style="margin:0px 5px"><img src="https://sohot.vn/base/view/images/facebook.png" height="48"></a>
                            <a href="https://zalo.me/0933456457" target="_blank" style="margin:0px 5px"><img src="https://sohot.vn/base/view/images/zalo.png" height="48"></a>
                        </div>
                        <!--|ID #{$topic->id}-->
                        <!--if $topic->user_id != $user->id && $topic->user_id != 3
                                                .list-group-item.text-center.hidden-sm.hidden-xs
                                                    a.btn.btn-success(href='javascript:;' onclick='javascript:chatOnTopic("#{URL_ROOT}/user/action/pm?topic_id=#{$topic->id}&ajax=1");')
                                                        i.fa.fa-comments
                                                        &nbsp;
                                                        |Chat mua hàng
                        -->
                        <!--.list-group-item.text-center
                                                i.fa.fa-calendar.fa-lg(style='margin-right:10px')
                                                =$topic->up_date_h
                        -->

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="related-topics" class="panel panel-default">
        <div class="panel-heading">Sản phẩm khác của shop</div>
        <div style="margin:auto" class="panel-body text-center">
            @*foreach*@
            <div class="col-md-3 col-sm-3 col-xs-6 s-pad">
                <a href="https://sohot.vn/tp-ho-chi-minh/ban-sofa-kim-cuong-ma-vang-hx1b-2201.html" style="margin:auto !important" class="thumb text-nowrap f-black"><div style="position:absolute;right:0px;top:10px;max-width:160px;overflow:hidden" class="badge b-red xs-pad">3.8 triệu</div><img src="https://sohot.vn/uploads/market/avatar/22/220/2201.jpg" align="center" style="margin:auto !important"></a>        <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="block"><a href="https://sohot.vn/tp-ho-chi-minh/ban-sofa-kim-cuong-ma-vang-hx1b-2201.html">Bàn sofa kim cương mạ vàng HX1B</a></div>
            </div>
            @*end foreach*@
        </div>
    </div>
    <div id="related-topics" class="panel panel-default">
        <div class="panel-heading">Sản phẩm liên quan</div>
        <div style="margin:auto" class="panel-body text-center">
            @*foreach*@
            <div class="col-md-3 col-sm-3 col-xs-6 s-pad">
                <a href="https://sohot.vn/tp-ho-chi-minh/ghe-aston-ash-959.html" style="margin:auto !important" class="thumb text-nowrap f-black">
                    <div style="position:absolute;right:0px;top:10px;max-width:160px;overflow:hidden" class="badge b-red xs-pad">2.3 triệu</div>
                    <img src="https://sohot.vn/uploads/market/avatar/95/959/959.jpg" align="center" style="margin:auto !important">
                </a>
                <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="block">
                    <a href="https://sohot.vn/tp-ho-chi-minh/ghe-aston-ash-959.html">Ghế Aston ash</a>
                </div>
            </div>
            @*end foreach*@
        </div>
    </div>
    <div id="tel" class="hidden">MDkzMzQ1NjQ1Nw==</div>
    <div id="map" role="dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Địa chỉ
                    <div class="pull-right">
                        <a href="javascript:;" onclick="$(&quot;#map&quot;).modal(&quot;hide&quot;);">
                            <i class="fa fa-close fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="100%" style="min-height:400px"></iframe>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
