@model AuctionOnline.ViewModels.LayoutViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="margin:auto;min-width:300px;max-width:400px" class="center">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <b>Edit @Html.DisplayFor(model => model.ItemVM.Title)</b>
            </div>
            <div class="panel-body">
                <form class="ajax-form" asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-heading"></i>
                        </span>
                        <input asp-for="ItemVM.Title" placeholder="Title" type="text" size="25" style="text-align:center" class="form-control">
                        <span asp-validation-for="ItemVM.Title" class="text-danger"></span>
                    </div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-th-list"></i>
                        </span>
                        <select asp-for="ItemVM.SelectedCategoryIds" asp-items="Model.ItemVM.Categories" multiple="multiple" class="form-control">
                            <option value="">Choose a category</option>
                        </select>
                    </div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input asp-for="ItemVM.Description" placeholder="Description" type="text" size="25" style="text-align:center" class="form-control">
                        <span asp-validation-for="ItemVM.Description" class="text-danger"></span>
                    </div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                        <input asp-for="ItemVM.Price" placeholder="Price" type="text" size="25" style="text-align:center" class="form-control">
                        <span asp-validation-for="ItemVM.Price" class="text-danger"></span>
                    </div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="far fa-image"></i>
                        </span>
                        <input asp-for="ItemVM.Photo" value="Upload a photo">
                        <span asp-validation-for="ItemVM.Photo" class="text-danger"></span>
                    </div>
                    <div class="xs-pad input-group">
                        <span class="input-group-addon">
                            <i class="far fa-file-alt"></i>
                        </span>
                        <input asp-for="ItemVM.Document" value="Upload a document">
                        <span asp-validation-for="ItemVM.Document" class="text-danger"></span>
                    </div>
                    <div class="xs-pad text-center">
                        <button type="submit" class="btn btn-default custom">Save</button>
                        <input type="hidden" asp-for="ItemVM.Id" />
                        @*<div class="spacer"></div>*@
                        <a asp-action="Index">Cancel</a>
                        <hr>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-default custom">
                            <i style="margin-right:5px" class="fas fa-store-alt"></i>
                            Back to Home
                        </a>
                    </div>
                </form>
            </div>
            <div>
                <a asp-action="Create">Back to List</a>
            </div>
        </div>
    </div>
</div>