@using Microsoft.AspNetCore.Http;
@model AuctionOnline.ViewModels.LayoutViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @await Component.InvokeAsync("Search")
    <div class="spacer"></div>
    <div style="margin-bottom:10px" class="panel panel-default">
        <div class="topiclist panel-body">
            <div class="row">
                <div class="col-xs-6">

                    <h1>@Context.Session.GetString("username")</h1>

                </div>
                <div class="col-xs-6">
                    <div class="dropdown pull-right">
                        Sort by :&nbsp;
                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">

                            Most expensive

                            <div style="margin-left:5px" class="caret"></div>
                        </button>
                        <ul class="dropdown-menu">

                            <li><a href="https://sohot.vn/tp-ho-chi-minh/tham?sort=price-desc">Most expensive</a></li>
                            <li><a href="https://sohot.vn/tp-ho-chi-minh/tham?sort=price-asc">Cheapiest</a></li>
                        </ul>
                    </div>
                    <!--.btn-group.btn-group-justified
                                        a.btn.btn-default(href='#{sortURL[0]}', class=(!$sort) ? 'active' : '')
                                            i.fa.fa-clock-o.fa-lg(data-toggle="tooltip" data-placement="top", title="Tin mới nhất")
                                        a.btn.btn-default(href='#{sortURL[1]}sort=price', class=($sort=='price') ? 'active' : '')
                                            span(data-toggle="tooltip" data-placement="top", title="Giá thấp nhất")
                                                | VNĐ
                                                i.fa.fa-angle-down.fa-lg
                    -->
                </div>
            </div>
            <hr>
            <script src="~/library/javascript/infinite-scroll.pkgd.min.js"></script>
            <div id="mainTopiclist" class="topiclist">
                <div class="topiclist-wrapper">
                    @foreach (var item in Model.ItemsVM)
                    {
                        <div class="item grid col-md-3ths col-xs-6">
                            <div class="itemcontainer">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <div style="padding-left:15px" class="row">
                                        <a class="thumb" asp-action="Details" asp-route-id="@Html.DisplayFor(modelItem => item.Id)">
                                            <img src="~/images/items/@item.PhotoName" style="width:220px; height:auto;" >
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3>
                                                <a class="f-black">@Html.DisplayFor(modelItem => item.Title)</a>
                                            </h3>
                                            <!--.infoline
                                                                        if !$byUser
                                                                            //a.f-grey(href=URL_ROOT.'/user/'.$i->author->name)=i->author->name
                                                                            //&nbsp;
                                                                            span.f-grey=$i->up_date_h
                                                                        else
                                                                            span.f-grey=$i->up_date_h
                                            -->
                                        </div>
                                        <div class="col-sm-3 f-red text-right">

                                            <button type="button" class="btn btn-success">Bid</button>
                                            <div class="text-nowrap">

                                            </div>
                                            <div class="spacer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!--foreach-->

                </div>
                <div class="clearfix"></div>

                <!--.center.text-center!=pagestr-->

                <div style="line-height:35px" class="col-xs-12 text-center">
                    <div class="row">
                        <a id="nextpage" href="" class="btn btn-default f-red">
                            <i style="margin-right:5px" class="fa fa-chevron-circle-left fa-lg"></i>
                            Sau
                        </a>
                        &nbsp;
                        <a id="nextpage" href="" class="btn btn-default f-red">
                            <i style="margin-right:5px" class="fa fa-chevron-circle-right fa-lg"></i>
                            Tiếp
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="spacer">

        </div>
    </div>
</div>
