@model AuctionOnline.ViewModels.LayoutViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Category</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form asp-action="Edit" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoryVM.Id" />
                        <div class="form-group">
                            <label asp-for="CategoryVM.Name" class="control-label"></label>
                            <input asp-for="CategoryVM.Name" class="form-control" />
                            <span asp-validation-for="CategoryVM.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Parent Name</label>
                            <select asp-for="CategoryVM.ParentId" class="form-control" asp-items="Model.CategoryVM.Categories">
                                <option value="">Select if it's a new category</option>
                            </select>
                            <span asp-validation-for="CategoryVM.ParentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->