@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <!-- Page content -->
        <div class="high-padding">
            <!-- Blog content -->
            <div class="container blog-posts">
                <div class="row">
                    <div class="col-md-3 sidebar-content">
                    </div>
                    <div class="col-md-9 main-content">
                        <div class="ibid-shop-sort-group">
                            <div class="woocommerce-notices-wrapper"></div><p class="woocommerce-result-count">
                                Showing all 4 results
                            </p>
                            <form class="woocommerce-ordering" method="get">
                                <select name="orderby" class="orderby" aria-label="Shop order">
                                    <option value="menu_order" selected='selected'>Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                    <option value="bid_asc">Sort by current bid: Low to high</option>
                                    <option value="bid_desc">Sort by current bid: High to low</option>
                                    <option value="auction_end">Sort auction by ending soonest</option>
                                    <option value="auction_started">Sort auction by recently started</option>
                                    <option value="auction_activity">Sort auction by most active</option>
                                </select>
                                <input type="hidden" name="paged" value="1" />
                            </form>
                        </div>

                        <div class="clearfix"></div>

                        <ul class="products columns-3">




                            <li class="col-md-4 first post-4472 product type-product status-publish has-post-thumbnail product_cat-audi product_cat-protection-phones product_cat-console-gaming product_cat-data-cables-phones product_cat-mobile-phone-chargers product_cat-mobile-phones product_cat-power-bank product_cat-selfie-stickers product_cat-tablets product_cat-protection-tablets product_tag-black-friday product_tag-sales  instock sold-individually shipping-taxable product-type-auction">
                                <div class="products-wrapper">



                                    <div class="thumbnail-and-details">
                                        <div class="overlay-container">
                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                <div class="component add-to-cart"><a href="../../shop/auction-vintage-car/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4472" data-product_sku="BF001" aria-label="Read more about &ldquo;Auction Vintage Car&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4472">
                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                            <a href="index9e8e.html?add_to_wishlist=4472" data-product-id="4472" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                        </div>

                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                    </div>

                                                    <div class="clear"></div>
                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4472"><i class="fa fa-search"></i></a></div>
                                            </div>
                                        </div><a class="woo_catalog_media_images" title="Auction Vintage Car" href="../../shop/auction-vintage-car/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/vintage-car1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car1-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </div>

                                    <div class="woocommerce-title-metas">
                                        <h3 class="archive-product-title">
                                            <a href="../../shop/auction-vintage-car/index.html">
                                                Auction Vintage Car
                                            </a>
                                        </h3>
                                        <div class="details-container">
                                            <div class="details-price-container details-item">
                                                <div class="product-description" itemprop="description">
                                                    <p>The Ragdoll is a cat breed with blue eyes and a distinct colorpoint coat. It is a large and muscular semi-longhair cat with a soft and silky coat. Like all long haired cats, Ragdolls need grooming to ensure their fur does not mat.</p>
                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                    <div class="component add-to-cart"><a href="../../shop/auction-vintage-car/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4472" data-product_sku="BF001" aria-label="Read more about &ldquo;Auction Vintage Car&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4472">
                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                <a href="index9e8e.html?add_to_wishlist=4472" data-product-id="4472" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                            </div>

                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div style="clear:both"></div>
                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                        </div>

                                                        <div class="clear"></div>
                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4472"><i class="fa fa-search"></i></a></div>
                                                </div>
                                            </div>
                                        </div><div class="bottom-components-list">
                                            <div class="component add-to-cart"><a href="../../shop/auction-vintage-car/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4472" data-product_sku="BF001" aria-label="Read more about &ldquo;Auction Vintage Car&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4472">
                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                        <a href="index9e8e.html?add_to_wishlist=4472" data-product-id="4472" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                    </div>

                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div style="clear:both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                </div>

                                                <div class="clear"></div>
                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4472"><i class="fa fa-search"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>










                            <li class="col-md-4 last post-4471 product type-product status-publish has-post-thumbnail product_cat-audi product_cat-tesla product_tag-black-friday product_tag-sales first instock sold-individually shipping-taxable product-type-auction">
                                <div class="products-wrapper">



                                    <div class="thumbnail-and-details">
                                        <div class="overlay-container">
                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                <div class="component add-to-cart"><a href="../../shop/bmw-m1-1965/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4471" data-product_sku="BF005" aria-label="Read more about &ldquo;BMW M1 1965&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4471">
                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                            <a href="index95ee.html?add_to_wishlist=4471" data-product-id="4471" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                        </div>

                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                    </div>

                                                    <div class="clear"></div>
                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4471"><i class="fa fa-search"></i></a></div>
                                            </div>
                                        </div><a class="woo_catalog_media_images" title="BMW M1 1965" href="../../shop/bmw-m1-1965/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/vintage-car2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car2-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </div>

                                    <div class="woocommerce-title-metas">
                                        <h3 class="archive-product-title">
                                            <a href="../../shop/bmw-m1-1965/index.html">
                                                BMW M1 1965
                                            </a>
                                        </h3>
                                        <div class="details-container">
                                            <div class="details-price-container details-item">
                                                <div class="product-description" itemprop="description">
                                                    <p>The name &#8220;Ragdoll&#8221; is derived from the tendency of individuals from the original breeding stock to go limp and relaxed when picked up. Particularly popular in both the United Kingdom and the breed</p>
                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                    <div class="component add-to-cart"><a href="../../shop/bmw-m1-1965/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4471" data-product_sku="BF005" aria-label="Read more about &ldquo;BMW M1 1965&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4471">
                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                <a href="index95ee.html?add_to_wishlist=4471" data-product-id="4471" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                            </div>

                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div style="clear:both"></div>
                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                        </div>

                                                        <div class="clear"></div>
                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4471"><i class="fa fa-search"></i></a></div>
                                                </div>
                                            </div>
                                        </div><div class="bottom-components-list">
                                            <div class="component add-to-cart"><a href="../../shop/bmw-m1-1965/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4471" data-product_sku="BF005" aria-label="Read more about &ldquo;BMW M1 1965&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4471">
                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                        <a href="index95ee.html?add_to_wishlist=4471" data-product-id="4471" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                    </div>

                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div style="clear:both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                </div>

                                                <div class="clear"></div>
                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4471"><i class="fa fa-search"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>










                            <li class="col-md-4 post-4469 product type-product status-publish has-post-thumbnail product_cat-audi product_tag-black-friday product_tag-sales last instock featured sold-individually shipping-taxable product-type-auction">
                                <div class="products-wrapper">



                                    <div class="thumbnail-and-details">
                                        <div class="overlay-container">
                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                <div class="component add-to-cart"><a href="../../shop/el-camino-1974/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4469" data-product_sku="BF007" aria-label="Read more about &ldquo;El Camino 1974&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4469">
                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                            <a href="index7fb4.html?add_to_wishlist=4469" data-product-id="4469" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                        </div>

                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                    </div>

                                                    <div class="clear"></div>
                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4469"><i class="fa fa-search"></i></a></div>
                                            </div>
                                        </div><a class="woo_catalog_media_images" title="El Camino 1974" href="../../shop/el-camino-1974/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/vintage-car4-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car4-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </div>

                                    <div class="woocommerce-title-metas">
                                        <h3 class="archive-product-title">
                                            <a href="../../shop/el-camino-1974/index.html">
                                                El Camino 1974
                                            </a>
                                        </h3>
                                        <div class="details-container">
                                            <div class="details-price-container details-item">
                                                <div class="product-description" itemprop="description">
                                                    <p>The name “Ragdoll” is derived from the tendency of individuals from the original breeding stock to go limp and relaxed when picked up. Particularly popular in both the United Kingdom and the breed</p>
                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                    <div class="component add-to-cart"><a href="../../shop/el-camino-1974/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4469" data-product_sku="BF007" aria-label="Read more about &ldquo;El Camino 1974&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4469">
                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                <a href="index7fb4.html?add_to_wishlist=4469" data-product-id="4469" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                            </div>

                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div style="clear:both"></div>
                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                        </div>

                                                        <div class="clear"></div>
                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4469"><i class="fa fa-search"></i></a></div>
                                                </div>
                                            </div>
                                        </div><div class="bottom-components-list">
                                            <div class="component add-to-cart"><a href="../../shop/el-camino-1974/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4469" data-product_sku="BF007" aria-label="Read more about &ldquo;El Camino 1974&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4469">
                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                        <a href="index7fb4.html?add_to_wishlist=4469" data-product-id="4469" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                    </div>

                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div style="clear:both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                </div>

                                                <div class="clear"></div>
                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4469"><i class="fa fa-search"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>



                            <li class="clearfix hide-on-mobile"></li>






                            <li class="col-md-4 first post-4473 product type-product status-publish has-post-thumbnail product_cat-audi product_cat-protection-phones product_cat-console-gaming product_cat-data-cables-phones product_cat-mobile-phone-chargers product_cat-mobile-phones product_cat-power-bank product_cat-selfie-stickers product_cat-tablets product_cat-protection-tablets product_tag-black-friday product_tag-sales  instock sold-individually shipping-taxable product-type-auction">
                                <div class="products-wrapper">



                                    <div class="thumbnail-and-details">
                                        <div class="overlay-container">
                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                <div class="component add-to-cart"><a href="../../shop/vintage-gearbox/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4473" data-product_sku="BF002" aria-label="Read more about &ldquo;Vintage Gearbox&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4473">
                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                            <a href="index08c4.html?add_to_wishlist=4473" data-product-id="4473" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                        </div>

                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                    </div>

                                                    <div class="clear"></div>
                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4473"><i class="fa fa-search"></i></a></div>
                                            </div>
                                        </div><a class="woo_catalog_media_images" title="Vintage Gearbox" href="../../shop/vintage-gearbox/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/vintage-car3-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </div>

                                    <div class="woocommerce-title-metas">
                                        <h3 class="archive-product-title">
                                            <a href="../../shop/vintage-gearbox/index.html">
                                                Vintage Gearbox
                                            </a>
                                        </h3>
                                        <div class="details-container">
                                            <div class="details-price-container details-item">
                                                <div class="product-description" itemprop="description">
                                                    <p>The Ragdoll is a cat breed with blue eyes and a distinct colorpoint coat. It is a large and muscular semi-longhair cat with a soft and silky coat. Like all long haired cats, Ragdolls need grooming to ensure their fur does not mat.</p>
                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                    <div class="component add-to-cart"><a href="../../shop/vintage-gearbox/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4473" data-product_sku="BF002" aria-label="Read more about &ldquo;Vintage Gearbox&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4473">
                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                <a href="index08c4.html?add_to_wishlist=4473" data-product-id="4473" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                            </div>

                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div style="clear:both"></div>
                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                        </div>

                                                        <div class="clear"></div>
                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4473"><i class="fa fa-search"></i></a></div>
                                                </div>
                                            </div>
                                        </div><div class="bottom-components-list">
                                            <div class="component add-to-cart"><a href="../../shop/vintage-gearbox/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4473" data-product_sku="BF002" aria-label="Read more about &ldquo;Vintage Gearbox&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4473">
                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                        <a href="index08c4.html?add_to_wishlist=4473" data-product-id="4473" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                    </div>

                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div style="clear:both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                </div>

                                                <div class="clear"></div>
                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4473"><i class="fa fa-search"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>