@model AuctionOnline.Models.Category
@{ 

}
<li id="menu-item-5192" class="mega3menu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5192">
    <a asp-controller="item" asp-action="listedbycategory" asp-route-id="">
        <i class="fa fa-desktop"></i><label asp-for="Name"></label>
    </a>
    <div class="cf-mega-menu sub-menu">
        <div class="vc_row wpb_row vc_row-fluid no-margin vc_custom_1528793566052 vc_row-has-fill">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1566908578324">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp">
                            <div class="wpb_wrapper">
                                <p style="font-weight: bold; font-size: 14px; color: #484848;"><label asp-for="Name"></label></p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 5px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element  menu-cat">
                            <div class="wpb_wrapper">
                                <p>
                                    <a href="#"><label asp-for="Name"></label></a>
                                    <br />
                                </p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 20px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>