@model AuctionOnline.Models.Category;
@{
    var cate = ViewBag.CategoryAddChild;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h3>Category: @cate.Name</h3>
    <form asp-controller="category" asp-action="addchild" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" asp-for="Name" /></td>
            </tr>
            <tr>
                <td>Parent Id: </td>
                <input type="hidden" asp-for="ParentId" value="@cate.Id" /> @cate.Id
            </tr>
            <tr>
                <td>Today: </td>
                @DateTime.Now
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Add" id="addchild" />
                </td>
            </tr>

        </table>
    </form>
    <a asp-controller="category" asp-action="sindex">Back to Category View</a>
</body>
</html>
