@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page content -->
<div id="primary" class="high-padding content-area no-sidebar">
    <div class="container">
        <main id="main" class="col-md_12 site-main main-content">


            <article id="post-5366" class="post-5366 page type-page status-publish hentry">

                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="woocommerce columns-4 ">
                                        <ul class="products columns-4">
                                            <li class="col-md-3 first post-4469 product type-product status-publish has-post-thumbnail product_cat-electronics product_cat-laptops product_cat-phones product_tag-black-friday product_tag-sales  outofstock featured sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/desktop-ttx-gamer-lasvegas-v2-intel-coffee-lake-model/" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4469" data-product_sku="BF007" aria-label="Read more about &ldquo;Gaming Computer&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4469">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="/shop/featured-products/?add_to_wishlist=4469" data-product-id="4469" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4469"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Gaming Computer" href="https://ibid.modeltheme.com/product/desktop-ttx-gamer-lasvegas-v2-intel-coffee-lake-model/"><img width="300" height="300" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-300x300.jpg 300w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-350x350.jpg 350w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-110x110.jpg 110w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-400x400.jpg 400w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1.jpg 600w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-70x70.jpg 70w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-200x200.jpg 200w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px" /><img class="woo_secondary_media_image" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat4-400x400.jpg" alt="Gaming Computer" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="https://ibid.modeltheme.com/product/desktop-ttx-gamer-lasvegas-v2-intel-coffee-lake-model/">
                                                                Gaming Computer
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day. Override the digital divide with</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/desktop-ttx-gamer-lasvegas-v2-intel-coffee-lake-model/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4469" data-product_sku="BF007" aria-label="Read more about &ldquo;Gaming Computer&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4469">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="/shop/featured-products/?add_to_wishlist=4469" data-product-id="4469" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4469"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/desktop-ttx-gamer-lasvegas-v2-intel-coffee-lake-model/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4469" data-product_sku="BF007" aria-label="Read more about &ldquo;Gaming Computer&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4469">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="/shop/featured-products/?add_to_wishlist=4469" data-product-id="4469" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4469"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-3 post-4464 product type-product status-publish has-post-thumbnail product_cat-home-appliances product_tag-black-friday product_tag-sales  instock featured sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/touchscreen-tablet/" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4464" data-product_sku="BF010" aria-label="Read more about &ldquo;Touchscreen Tablet&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4464">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="/shop/featured-products/?add_to_wishlist=4464" data-product-id="4464" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4464"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Touchscreen Tablet" href="https://ibid.modeltheme.com/product/touchscreen-tablet/"><img width="300" height="300" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-300x300.jpg 300w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-350x350.jpg 350w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-110x110.jpg 110w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-400x400.jpg 400w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1.jpg 600w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-70x70.jpg 70w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-200x200.jpg 200w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/microsoft-tablet-1-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px" /><img class="woo_secondary_media_image" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-400x400.jpg" alt="Touchscreen Tablet" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="https://ibid.modeltheme.com/product/touchscreen-tablet/">
                                                                Touchscreen Tablet
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>Product galati a reality sandwich before you walk back in that boardroom fire up your browser, so come up with something buzzworthy, for it&#8217;s about managing expectations yet baseline into the weeds.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/touchscreen-tablet/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4464" data-product_sku="BF010" aria-label="Read more about &ldquo;Touchscreen Tablet&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4464">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="/shop/featured-products/?add_to_wishlist=4464" data-product-id="4464" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4464"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/touchscreen-tablet/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4464" data-product_sku="BF010" aria-label="Read more about &ldquo;Touchscreen Tablet&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4464">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="/shop/featured-products/?add_to_wishlist=4464" data-product-id="4464" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4464"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-3 post-4458 product type-product status-publish has-post-thumbnail product_cat-laptops product_cat-selfie-stickers product_tag-black-friday product_tag-sales last instock featured sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/laptop-latitude-d3300/" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4458" data-product_sku="BF013" aria-label="Read more about &ldquo;Laptop Latitude d3300&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4458">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="/shop/featured-products/?add_to_wishlist=4458" data-product-id="4458" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4458"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Laptop Latitude d3300" href="https://ibid.modeltheme.com/product/laptop-latitude-d3300/"><img width="300" height="300" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-300x300.jpg 300w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-350x350.jpg 350w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-110x110.jpg 110w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-400x400.jpg 400w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1.jpg 600w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-70x70.jpg 70w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-200x200.jpg 200w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/asus-laptop-1-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px" /><img class="woo_secondary_media_image" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat4-400x400.jpg" alt="Laptop Latitude d3300" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="https://ibid.modeltheme.com/product/laptop-latitude-d3300/">
                                                                Laptop Latitude d3300
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>Product galati a reality sandwich before you walk back in that boardroom fire up your browser, so come up with something buzzworthy, for it&#8217;s about managing expectations yet baseline into the weeds.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/laptop-latitude-d3300/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4458" data-product_sku="BF013" aria-label="Read more about &ldquo;Laptop Latitude d3300&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4458">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="/shop/featured-products/?add_to_wishlist=4458" data-product-id="4458" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4458"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/laptop-latitude-d3300/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4458" data-product_sku="BF013" aria-label="Read more about &ldquo;Laptop Latitude d3300&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4458">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="/shop/featured-products/?add_to_wishlist=4458" data-product-id="4458" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4458"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-3 last post-4331 product type-product status-publish has-post-thumbnail product_cat-electronics product_cat-televisions product_tag-accessories product_tag-gaming first instock featured sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/dual-sim-smartphone/" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4331" data-product_sku="BF006" aria-label="Read more about &ldquo;Dual SIM Smartphone&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4331">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="/shop/featured-products/?add_to_wishlist=4331" data-product-id="4331" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4331"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Dual SIM Smartphone" href="https://ibid.modeltheme.com/product/dual-sim-smartphone/"><img width="300" height="300" src="https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-300x300.jpg 300w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-350x350.jpg 350w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-110x110.jpg 110w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-400x400.jpg 400w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1.jpg 600w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-70x70.jpg 70w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-200x200.jpg 200w, https://ibid.modeltheme.com/wp-content/uploads/2017/06/mobile_prod1-1-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px" /><img class="woo_secondary_media_image" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/desktop-product-1-400x400.jpg" alt="Dual SIM Smartphone" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="https://ibid.modeltheme.com/product/dual-sim-smartphone/">
                                                                Dual SIM Smartphone
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>Samsung Galaxy S9 smartphone was launched in March 2018. The phone comes with a 5.80-inch touchscreen display with a resolution of 1440 pixels by 2960 pixels at a PPI of 568 pixels per inch. Samsung Galaxy S9 price in India starts from Rs. 51,990.</p>
                                                                    <p>The Samsung Galaxy S9 runs Android 8.0 and is powered by a 3000mAh non removable battery. It measures 147.70 x 68.70 x 8.50 (height x width x thickness) and weighs 163.00 grams.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/dual-sim-smartphone/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4331" data-product_sku="BF006" aria-label="Read more about &ldquo;Dual SIM Smartphone&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4331">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="/shop/featured-products/?add_to_wishlist=4331" data-product-id="4331" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4331"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="https://ibid.modeltheme.com/product/dual-sim-smartphone/" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4331" data-product_sku="BF006" aria-label="Read more about &ldquo;Dual SIM Smartphone&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4331">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="/shop/featured-products/?add_to_wishlist=4331" data-product-id="4331" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4331"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div><!-- .entry-content -->

                <footer class="entry-footer">
                </footer><!-- .entry-footer -->
            </article><!-- #post-## -->

        </main>
    </div>
</div>