@using Microsoft.AspNetCore.Http;
@model AuctionOnline.ViewModels.LayoutViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#ItemName').autocomplete({
                source: '/Item/Searchkeyword'

            });
        });
    </script>
</head>
<body>
    <div id="search-block" style="margin-bottom:10px" class="panel panel-default">
        <div class="panel-body">
            <form method="post" asp-action="searchkeyword" asp-controller="item">
                <div class="col-sm-2 hidden-xs hidden-sm">
                    <select name="cat_id" class="form-control">
                        <option>--None--</option>
                        @await Html.PartialAsync("~/Views/PartialViews/_SearchPartial.cshtml", Model.CategoriesVM)
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" name="keyword" placeholder="Search for what you need.." class="form-control" size="90" id="ItemName">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="align-self: end">
                    <div class="btn-group">
                        <a style="margin-left: 40px" asp-controller="Item" asp-action="ListInShop" asp-route-id="@Context.Session.GetInt32("checkiduser")">
                            <button type="button" class="btn btn-warning">Go To Shop</button>
                        </a>
                        <a asp-controller="Account" asp-action="ListAccount" style="margin-left: 40px">
                            <button type="button" class="btn btn-info">Other Shops</button>
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>